{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

<div class="main-blog">
  {% paginate blog.articles by 6 %}
    
    {% if section.settings.section_heading != blank  %}
    <div class="main-blog-heading">
      <h2 class="blue">{{ section.settings.section_heading }}</h2>
    </div>
    {% endif %}  

    <div class="page-width">

      <div class="blog-articles">
        {% for article in blog.articles %}
          <div class="blog-articles__article">
            {% render 'article-card' article: article %}
          </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% render 'pagination', paginate: paginate %}
      {% endif %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Blog Landing",
    "tag": "section",
    "class": "Blog Landing",
    "settings": [
       {
         "type": "text",
         "id": "section_heading",
         "label": "Section Heading"
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}