{{ 'section-categories-grid.css' | asset_url | stylesheet_tag }}


<div class="page-width">
  <div class="categories-grid__container">
    {% for block in section.blocks %}
      <div class="categories-grid__item">
        <a href="{{ block.settings.url }}">
        <div class="categories-grid__text">
          <p>{{ block.settings.text }}</p>
        </div>
        <img src="{{ block.settings.image | img_url: 'master' }}"/>
        </a>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Categories Grid",
  "settings": [],
  "blocks": [
    {
     "type": "block",
     "name": "block",
     "settings": [ 
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories Grid",
      "settings": {}
    }
  ]
}
{% endschema %}