<div class="page-width">
  <div class="categories-grid__container">
    {% for block in section.blocks %}
      <div>{{ block.settings.text }}</div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Categories Grid",
  "settings": [],
  "blocks": [
    {
     "type": "block",
     "name": "block",
     "settings": [ 
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories Grid",
      "settings": {}
    }
  ]
}
{% endschema %}