<div class="head-slide-wrap" id="head-slide-wrap">
  <ul class="head-slide">
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring
    | split: '"pageurl":"'
    | last
    | split: '"'
    | first
    | split: '.myshopify.com'
    | last
    | replace: '\/', '/'
    | replace: '%20', ' '
    | replace: '\u0026', '&'
  -%}
  {% capture finalurl %}https://{{ pageUrl }}{% endcapture %}

{%- assign key_and_value = pageUrl | split:'?' -%}

    {% for block in section.blocks %}
     <li {% if block.settings.link contains key_and_value[1] %} class="active" {% endif %}><a href="{{ block.settings.link }}">{{ block.settings.title }}</a></li> 
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "Collection Header Slider",
    "tag": "section",
    "class": "title-carousel with-spacing head-slide-wrap--main",
    "settings": [],
    "blocks": [
     {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
           {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Header Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


