<div class="custom-collection">
  <div class="page-width">
     {%- if section.settings.title != blank -%}
          <header class="SectionHeader">
  
            {%- if section.settings.title != blank -%}
              <h4 class="SectionHeader__Heading">{{ section.settings.title }}</h4>
            {%- endif -%}
          </header>
        {%- endif -%}

      <div class="collection-row">
        {%- for block in section.blocks -%}
          <div class="collection-col">
              <h6>{{ block.settings.title }}</h6>
              <div class="collection-row">
                <div class="collection-col">
                  <p class="badge">{{ block.settings.badge1 }}</p>
                 
                </div>
              
                <div class="collection-col">
                  <p class="badge">{{ block.settings.badge2 }}</p>
                 
                </div>
              </div>
          </div>
        {%  endfor %}
      </div>

    
  </div>
</div>



{% schema %}
  {
    "name": "Custom Collection",
    "class": "custom-collection-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title"
      }
    ],
    "blocks": [
    {
     "type": "block",
     "name": "Collection-col",
     "limit":4,
     "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Enter type"
        },
       {
          "type": "header",
          "content": "Product 1"
        },
         {
          "type": "text",
          "id": "badge1",
          "label": "Enter Badge"
        },
        
       {
          "type": "header",
          "content": "Product 2"
        },
         {
          "type": "text",
          "id": "badge2",
          "label": "Enter Badge"
        }
      ]
    }
  
  ],
    "presets": [
    {
      "name": "Custom Collection",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}