{{ 'designer-image-layout.css' | asset_url | stylesheet_tag: preload: true }}

<section class="designer__image--layout">
  <div class="designer__image--layout-container">
    <div class="designer__image--grid">
      <div class="designer__image--left-top">
        {{ section.settings.image_left_top | image_url: width: 1024 | image_tag: width: "100%", loading: "lazy", alt: section.settings.image_left_top.alt }}
      </div>
      <div class="designer__image--left-bottom">
        {{ section.settings.image_left_bottom | image_url: width: 1024 | image_tag: width: "100%", loading: "lazy", alt: section.settings.image_left_bottom.alt }}
      </div>
    </div>

    <div class="designer__image--right">
      {{ section.settings.image_right | image_url: width: 1024 | image_tag: width: "100%", loading: "lazy", alt: section.settings.image_right.alt }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Designer Image Layout",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left_top",
      "label": "Left Top Image"
    },
    {
      "type": "image_picker",
      "id": "image_left_bottom",
      "label": "Left Bottom Image"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Right Image"
    },
  ],
  "presets": [
    {
      "name": "Designer Image Layout"
    }
  ]
}
{% endschema %}