{{ 'designer-image-layout.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.image_left_top != blank or section.settings.image_left_bottom != blank and section.settings.image_right != blank %}
  <section class="designer__image--layout">
    <div class="designer__image--layout-container">
      {% if section.settings.image_left_top != blank or section.settings.image_left_bottom != blank %}
      <div class="designer__image--grid">
        {% if section.settings.image_left_top != blank %}
          <div class="designer__image--left-top">
            {{ section.settings.image_left_top | image_url: width: 1200 | image_tag: width: "100%", alt: section.settings.image_left_top.alt }}
          </div>
        {% endif %}
        {% if section.settings.image_left_bottom != blank %}
          <div class="designer__image--left-bottom">
            {{ section.settings.image_left_bottom | image_url: width: 1200 | image_tag: width: "100%", alt: section.settings.image_left_bottom.alt }}
          </div>
        {% endif %}
      </div>
      {% endif %}
  
      {% if section.settings.image_right != blank %}
        <div class="designer__image--right">
          {{ section.settings.image_right | image_url: width: 1200 | image_tag: width: "100%", alt: section.settings.image_right.alt }}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Designer Image Layout",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left_top",
      "label": "Left Top Image"
    },
    {
      "type": "image_picker",
      "id": "image_left_bottom",
      "label": "Left Bottom Image"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Right Image"
    },
  ],
  "presets": [
    {
      "name": "Designer Image Layout"
    }
  ]
}
{% endschema %}