<image-carousel>
  <div class="image-carousel__container swiper" id="{{ section.id }}-image-carousel">
    <div class="swiper-pagination image-carousel__pagination"></div>
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="image-carousel__item">
            <img src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.image.alt }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</image-carousel>

{% schema %}
  {
    "name": "Full Bleed Image Slider",
    "settings": [],
    "blocks": [
     {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Full Bleed Image Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}