<section class="icon-feature">
  <div class="icon-feature__inner">
    <div class="page-width">
      <div class="icon-feature__motif"></div>

      <h2 class="icon-feature__heading"></h2>

      <div class="icon-feature__blocks"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Icon Feature",
  "settings": [
    {
      "type": "select",
      "id": "color",
      "label": "Color",
      "options": [
        {
          "label": "Orange and blue",
          "value": "orange"
        },
        {
          "label": "Green",
          "value": "green"
        }
      ]
    }
  ]
}
{% endschema %}
