{% style %}
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
{% endstyle %}

<div class="image-gallery"></div>

{% schema %}
{
    "name": "Image gallery",
    "class": "custom-image-gallery",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title"
      }
    ],
    "blocks": [
    {
     "type": "block",
     "name": "Image",
     "limit":4,
     "settings": [

        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }      
      ]
    }
  
  ],
    "presets": [
    {
      "name": "Image gallery",
      "settings": {}
    }
  ]
  }
{% endschema %}
