{% style %}
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
{% endstyle %}

<div class="image-gallery">
  
</div>

{% schema %}
  {
    "name": "Image gallery",
    "tag": "section",
    "settings": [
      
    ],
    "presets": [
    {
      "name": "Image gallery",
      "settings": {}
    }
  ]    
  }
{% endschema %}