<div class="page-width">
  <div class="columns-wrap">
    <div class="col">
      <div class="column-image">
        <img src=""/>
      </div>
      <div class="column-content">
        <h5>Title</h5>
        <div class="column-btn-group">
          <a href="#" class="button">doormat</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="column-image">
        <img src=""/>
      </div>
      <div class="column-content">
        <h5>Title</h5>
        <div class="column-btn-group">
          <a href="#" class="button">doormat</a>
        </div>
      </div>
    </div>    
  </div>
</div>

{% schema %}
  {
    "name": "LP Columns with buttons",
    "class": "LP-columns-with-buttons",
    "settings": [],
    "presets": [
    {
      "name": "LP Columns with buttons",
      "settings": {}
    }
  ]    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}