<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }
  
  .template-404 {
    padding: 50px 0;
    text-align: center;
  }

  .template-404 h1 {
    margin: 30px 0;
  }

  .template-404 .button {
    display: inline-block;
  }
    
  @media screen and (min-width: 769px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p class="body">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
