{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image = collection.metafields.custom.hero_image
  assign mobile_image = collection.metafields.custom.mobile_image
%}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        {{- collection.title | escape -}}
      </h1>

      {% if section.settings.show_collection_description and collection.description != blank %}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {% endif %}
    </div>

    {% if mobile_image != blank %}
      {% render 'lazy-image', image: image, fade: true, classes: 'hide-mobile', prioritize_loading: true %}
      {% render 'lazy-image', image: mobile_image, fade: true, classes: 'hide-desktop', prioritize_loading: true %}
    {% elsif image != blank %}
      {% render 'lazy-image', image: image, fade: true, fill: true, prioritize_loading: true %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width?"
    }
  ],
  "presets": [
    {
      "category": "Banner",
      "name": "t:sections.main-collection-banner.name",
      "settings": {}
    }
  ]
}
{% endschema %}
