<div class="page-width">
  <div class="section-header">
    <h4>page-width</h4>
    <p><a href="#">shop all</a></p>
  </div>

  <div class="collection-navigation-with-slider">
    <ul>
      <li><a href="#">KITCHEN</a></li>
       <li><a href="#">FRONT DOOR</a></li>
       <li><a href="#">ENTRY</a></li>
       <li><a href="#">HALLWAY</a></li>
       <li><a href="#">MUDROOM</a></li>
    </ul>
    <div class="products-section">
      
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "Multi Product Slider",
    "class": "multi-product-slider",
    "settings": [],
    "presets": [
    {
      "name": "Multi Product Slider"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}