{% style %}
  .product-quote__container .page-width {
    display: flex;
    flex-direction: column;
  }

  .product-quote__container {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #F4F2EE;
  }

  .product-quote__container svg {
    width: 100%;
  }

  .product-quote__container h2 {
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    max-width: 900px;
    margin: 0 auto 50px;
  }

  .product-quote__container img {
    width: 300px;
    margin: 25px auto 0;
  }

  @media (max-width: 768px) {
    .product-quote__container {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  
    .product-quote__container h2 {
      font-size: 22px;
      margin: 0 auto 25px;
    }
  
    .product-quote__container img {
      width: 33%;
      margin: 20px auto 0;
    }
  }

{% endstyle %}

{% liquid
  for collection in product.collections
    if collection.title contains ' |'
      assign grouped_collection = collection
    endif
  endfor
%}

{% if grouped_collection.metafields.custom.product_quote.value.text != blank %}
<div class="product-quote__container">
  <div class="page-width">
    <h2>{{ grouped_collection.metafields.custom.product_quote.value.text }}</h2>
    <svg width="959" height="23" viewBox="0 0 959 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.7" d="M383.259 16.776C383.097 16.614 383.007 16.524 383.169 16.236L383.817 15.12C383.961 14.868 384.267 14.868 384.429 14.994C384.519 15.048 385.977 16.11 387.147 16.11C388.083 16.11 388.785 15.498 388.785 14.724C388.785 13.806 388.011 13.176 386.499 12.564C384.807 11.88 383.115 10.8 383.115 8.676C383.115 7.074 384.303 5.22 387.165 5.22C389.001 5.22 390.405 6.156 390.765 6.426C390.945 6.534 390.999 6.84 390.873 7.02L390.189 8.046C390.045 8.262 389.775 8.406 389.559 8.262C389.415 8.172 388.047 7.272 387.057 7.272C386.031 7.272 385.473 7.956 385.473 8.532C385.473 9.378 386.139 9.954 387.597 10.548C389.343 11.25 391.359 12.294 391.359 14.616C391.359 16.47 389.757 18.18 387.219 18.18C384.951 18.18 383.619 17.118 383.259 16.776ZM395.354 17.658V7.56H392.6C392.402 7.56 392.258 7.398 392.258 7.218V5.742C392.258 5.562 392.402 5.4 392.6 5.4H400.466C400.664 5.4 400.808 5.562 400.808 5.742V7.218C400.808 7.398 400.664 7.56 400.466 7.56H397.712V17.658C397.712 17.838 397.55 18 397.37 18H395.696C395.516 18 395.354 17.838 395.354 17.658ZM400.662 18C400.392 18 400.248 17.766 400.356 17.532L405.954 5.418C406.008 5.31 406.098 5.22 406.26 5.22H406.44C406.62 5.22 406.692 5.31 406.746 5.418L412.29 17.532C412.398 17.766 412.254 18 411.984 18H410.418C410.148 18 410.022 17.892 409.896 17.64L409.014 15.696H403.632L402.75 17.64C402.678 17.82 402.516 18 402.228 18H400.662ZM404.514 13.698H408.132L406.332 9.738H406.278L404.514 13.698ZM413.93 17.658V5.742C413.93 5.562 414.074 5.4 414.272 5.4H421.598C421.796 5.4 421.94 5.562 421.94 5.742V7.218C421.94 7.398 421.796 7.56 421.598 7.56H416.27V10.944H420.716C420.896 10.944 421.058 11.106 421.058 11.286V12.762C421.058 12.942 420.896 13.104 420.716 13.104H416.27V17.658C416.27 17.838 416.108 18 415.928 18H414.272C414.074 18 413.93 17.838 413.93 17.658ZM424.09 17.658V5.742C424.09 5.562 424.234 5.4 424.432 5.4H431.758C431.956 5.4 432.1 5.562 432.1 5.742V7.218C432.1 7.398 431.956 7.56 431.758 7.56H426.43V10.944H430.876C431.056 10.944 431.218 11.106 431.218 11.286V12.762C431.218 12.942 431.056 13.104 430.876 13.104H426.43V17.658C426.43 17.838 426.268 18 426.088 18H424.432C424.234 18 424.09 17.838 424.09 17.658ZM433.35 11.718C433.35 8.118 436.212 5.22 439.812 5.22C443.412 5.22 446.292 8.118 446.292 11.718C446.292 15.318 443.412 18.18 439.812 18.18C436.212 18.18 433.35 15.318 433.35 11.718ZM435.69 11.718C435.69 13.986 437.544 15.84 439.812 15.84C442.08 15.84 443.952 13.986 443.952 11.718C443.952 9.45 442.08 7.56 439.812 7.56C437.544 7.56 435.69 9.45 435.69 11.718ZM448.647 17.658V5.742C448.647 5.562 448.791 5.4 448.989 5.4H454.137C456.297 5.4 458.061 7.128 458.061 9.27C458.061 10.926 456.963 12.276 455.397 12.906L457.863 17.478C457.989 17.712 457.863 18 457.557 18H455.667C455.505 18 455.415 17.91 455.379 17.838L452.985 13.068H450.987V17.658C450.987 17.838 450.825 18 450.645 18H448.989C448.791 18 448.647 17.838 448.647 17.658ZM451.005 11.142H453.939C454.893 11.142 455.721 10.314 455.721 9.306C455.721 8.352 454.893 7.56 453.939 7.56H451.005V11.142ZM460.635 17.658V5.742C460.635 5.562 460.779 5.4 460.959 5.4H465.225C468.699 5.4 471.543 8.226 471.543 11.682C471.543 15.174 468.699 18 465.225 18H460.959C460.779 18 460.635 17.838 460.635 17.658ZM462.957 15.804H465.009C467.349 15.804 469.059 14.04 469.059 11.682C469.059 9.342 467.349 7.578 465.009 7.578H462.957V15.804ZM477.573 14.544C477.375 14.544 477.231 14.4 477.231 14.22V13.014C477.231 12.816 477.375 12.672 477.573 12.672H481.587C481.785 12.672 481.929 12.816 481.929 13.014V14.22C481.929 14.4 481.785 14.544 481.587 14.544H477.573ZM488.712 17.658V5.742C488.712 5.562 488.856 5.4 489.054 5.4H496.146C496.344 5.4 496.488 5.562 496.488 5.742V6.264C496.488 6.444 496.344 6.606 496.146 6.606H490.098V11.538H495.264C495.444 11.538 495.606 11.7 495.606 11.88V12.402C495.606 12.582 495.444 12.744 495.264 12.744H490.098V17.658C490.098 17.838 489.936 18 489.756 18H489.054C488.856 18 488.712 17.838 488.712 17.658ZM498.042 11.718C498.042 8.118 500.904 5.22 504.504 5.22C508.104 5.22 510.984 8.118 510.984 11.718C510.984 15.318 508.104 18.18 504.504 18.18C500.904 18.18 498.042 15.318 498.042 11.718ZM499.302 11.718C499.302 14.58 501.642 16.92 504.504 16.92C507.366 16.92 509.724 14.58 509.724 11.718C509.724 8.856 507.366 6.48 504.504 6.48C501.642 6.48 499.302 8.856 499.302 11.718ZM513.581 13.356V5.742C513.581 5.562 513.743 5.4 513.923 5.4H514.607C514.805 5.4 514.949 5.562 514.949 5.742V13.248C514.949 15.3 516.227 16.902 518.333 16.902C520.457 16.902 521.753 15.336 521.753 13.284V5.742C521.753 5.562 521.897 5.4 522.095 5.4H522.779C522.959 5.4 523.121 5.562 523.121 5.742V13.356C523.121 16.092 521.177 18.18 518.333 18.18C515.507 18.18 513.581 16.092 513.581 13.356ZM526.628 17.658V5.544C526.628 5.364 526.79 5.22 526.97 5.22H527.42L535.538 15.336C535.556 15.336 535.556 15.336 535.574 15.336V5.742C535.574 5.562 535.718 5.4 535.916 5.4H536.546C536.726 5.4 536.888 5.562 536.888 5.742V17.856C536.888 18.036 536.726 18.18 536.546 18.18H536.222L527.96 7.866H527.942V17.658C527.942 17.838 527.798 18 527.6 18H526.97C526.79 18 526.628 17.838 526.628 17.658ZM540.567 17.658V5.742C540.567 5.562 540.711 5.4 540.891 5.4H544.923C548.397 5.4 551.241 8.226 551.241 11.682C551.241 15.174 548.397 18 544.923 18H540.891C540.711 18 540.567 17.838 540.567 17.658ZM541.935 16.758H544.635C547.587 16.758 549.729 14.652 549.729 11.682C549.729 8.73 547.587 6.624 544.635 6.624H541.935V16.758ZM554.015 17.658V5.742C554.015 5.562 554.159 5.4 554.357 5.4H561.449C561.647 5.4 561.791 5.562 561.791 5.742V6.264C561.791 6.444 561.647 6.606 561.449 6.606H555.401V10.998H560.567C560.747 10.998 560.909 11.16 560.909 11.34V11.862C560.909 12.06 560.747 12.204 560.567 12.204H555.401V16.794H561.449C561.647 16.794 561.791 16.956 561.791 17.136V17.658C561.791 17.838 561.647 18 561.449 18H554.357C554.159 18 554.015 17.838 554.015 17.658ZM564.667 17.658V5.742C564.667 5.562 564.811 5.4 565.009 5.4H569.671C571.831 5.4 573.595 7.092 573.595 9.234C573.595 10.89 572.497 12.276 570.931 12.906L573.397 17.478C573.523 17.712 573.397 18 573.091 18H572.173C572.011 18 571.921 17.91 571.885 17.838L569.491 13.068H566.053V17.658C566.053 17.838 565.891 18 565.711 18H565.009C564.811 18 564.667 17.838 564.667 17.658ZM566.089 11.88H569.581C570.967 11.88 572.173 10.728 572.173 9.252C572.173 7.884 570.967 6.714 569.581 6.714H566.089V11.88Z" fill="#546B82"/>
    <line y1="13.5" x2="379" y2="13.5" stroke="#546B82"/>
    <line x1="580" y1="13.5" x2="959" y2="13.5" stroke="#546B82"/>
    </svg>
    <img alt="stafford-signature" src="https://cdn.shopify.com/s/files/1/0084/8602/7327/files/stafford-signature.svg?v=1745449475"/>
  </div>
</div>
{% endif %}


{% schema %}
{
  "name": "Product Quote",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Quote"
    }
  ]
}
{% endschema %}