<div class="page-width">
  <div class="richtext__inner">
    <div class="richtext__icon">
      {% render 'sun-svg', opacity: "0.5"%}
    </div>
  </div>  
</div>
{% schema %}
  {
    "name": "Richtext",
    "tag": "section",
    "class": "richtext with-spacing",
    "settings": [
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}