<section class="section size-with-text">
     <div class="page-width">
        <div class="icon-wrapper">
          {%- for block in section.blocks -%}
            <div class="icon-text-content ">
              <div class="icon-type">
               {%- if block.settings.icon_type == 'left' -%}
                
                    <span class="type-1"></span>
                {%- elsif block.settings.icon_type == 'right' -%}
                  <span class="type-2"></span>
              {%- else -%}
                   <span class="type-3"></span>
                {%- endif -%}
              </div>
               <p class="icon_text">{{ block.settings.title }}</p>
            </div>
         {%  endfor %}
        </div>
    </div>

   
</section>

{% schema %}
  {
    "name": "Icon with text",
    "settings": [
      {
        "type": "text",
        "id": "custom-class",
        "label": "custom-class"
      }
      
    ],
     "blocks": [
    {
     "type": "block",
     "name": "Size",
     "limit":3,
     "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon Type",
          "options": [
            {
              "value": "left",
              "label": "Door"
            },
            {
              "value": "center",
              "label": "Runner"
            },
            {
              "value": "right",
              "label": "Areamat"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Enter type"
        }
      ]
    }
  
  ],
    "presets": [
    {
      "name": "Size-section",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}