{{ 'section-ugc-carousel.css' | asset_url | stylesheet_tag }}

<div>
  <div class="page-width">
    <div class="heading-with-accents">
      <span class="divider header-divider">
        
        <span class="divider-line"></span>
      </span>
      <div class="h2 blue">{{ section.settings.heading }}</div>
      <span class="divider header-divider"> <span class="divider-line"></span> </span>
    </div>
  </div>

  {%  if section.blocks != blank %}
  <ugc-carousel>
    <div class="ugc-carousel__container swiper" id="{{ section.id }}-ugc-carousel">
      <div class="swiper-pagination ugc-carousel__pagination"></div>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="ugc-carousel__item">
              {{ block.settings.image | image_url: width: 400 | image_tag }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </ugc-carousel>
  {% endif %}

  <div id="insta-feed"></div>
</div>

{% schema %}
{
  "name": "UGC Carousel",
  "tag": "section",
  "class": "ugc-carousel with-spacing",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "post",
      "name": "Post",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UGC Carousel"
    }
  ]
}
{% endschema %}

<style>
  .ugc-carousel div{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ugc-carousel .heading-with-accents p{
    font-size: 40px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 1.6px;
    text-decoration-line: underline;
  }
  
</style>

