#localization_form {
  position: relative;
}

.currency__button,
#CurrencyList a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: .03em;
}

.currency__button svg,
#CurrencyList a svg {
  width: 18px;
  height: 14px;
  margin-right: 5px;
}

#CurrencyList {
  padding: 5px 10px;
  position: absolute;
  list-style: none;
  background: #fff;
  margin-left: -10px;
}
