.article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.article-card__image {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}

.article-card__icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-card__container {
  padding-top: 20px;
  position: relative;
}

.article-card__date {
  margin: 30px 0 10px;
}

.article-card__title {
  margin: 0;
}

.article-card__text {
  margin-top: 23px;
  margin-bottom: 23px;
}

.article-card__link {
  margin-top: auto;
  display: block;
}

@media screen and (max-width: 768px) {

  .article-card__text {
    margin-top: 10px;
  }

  .article-card__link {
    margin-top: 20px;
  }
}