.article-card__image {
  position: relative;
  aspect-ratio: 1/1;
}

.article-card__icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-card__container {
  padding-top: 20px;
  position: relative;
}

.article-card__date {
  margin: 0 0 10px;
}

.article-card__title {
  margin: 0;
}