.search__input.field__input {
  padding-right: 5rem;
}

.search__button {
  right: 1px;
  top: 1px;
}

.search__button:focus-visible {
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.search__button:focus {
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.search__button:not(:focus-visible):not(.focused){
  box-shadow: inherit;
  background-color: inherit;
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.header__search-container .field{
  margin-bottom: 0;
}
.header__search-container .field__button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    display: flex;
    height: 4.4rem;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.4rem;
}
/* Field */

.header__search-container .field,
.template-search .field{
  position: relative;
  width: 100%;
  display: flex;
  transition: box-shadow .1s ease;
}

.header__search-container .field--with-error,
.template-search .field--with-error{
  flex-wrap: wrap;
}

.header__search-container .field__input,
.template-search .field__input{
  flex-grow: 1;
  text-align: left;
  padding: 1.5rem 0;
  margin: 1px;
  transition: box-shadow .1s ease;
}

.header__search-container .field__label,
.template-search .field__label{
  font-size: 1.6rem;
  left: 0;
  top: calc(1rem + 1px);
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  transition: top .1s ease,
    font-size .1s ease;
  color: rgba(18, 18, 18, 0.75);
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.header__search-container .field__input:focus ~ .field__label,
.template-search .field__input:focus ~ .field__label,
.header__search-container .field__input:not(:placeholder-shown) ~ .field__label,
.template-search .field__input:not(:placeholder-shown) ~ .field__label,
.header__search-container .field__input:-webkit-autofill ~ .field__label,
.template-search .field__input:-webkit-autofill ~ .field__label{
  font-size: 1rem;
  top: calc(1px + 0.5rem);
  left: 0;
  letter-spacing: 0.04rem;
}

.header__search-container .field__input:focus,
.template-search .field__input:focus,
.header__search-container .field__input:not(:placeholder-shown),
.template-search .field__input:not(:placeholder-shown),
.header__search-container .field__input:-webkit-autofill,
.template-search .field__input:-webkit-autofill{
  padding: 2.2rem 1.5rem 0.8rem 0;
  margin: 1px;
}

.header__search-container .field__input::-webkit-search-cancel-button,
.template-search .field__input::-webkit-search-cancel-button{
  display: none;
}

.header__search-container .field__input::placeholder,
.template-search{
  opacity: 0;
}

.header__search-container .field__button,
.template-search{
  align-items: center;
  background-color: transparent;
  border: 0;
  color: currentColor;
  cursor: pointer;
  display: flex;
  height: 4.4rem;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.4rem;
}

.header__search-container .field__button > svg,
.template-search{
  height: 2.5rem;
  width: 2.5rem;
}

.header__search-container .field__input:-webkit-autofill ~ .field__button,
.template-search,
.header__search-container .field__input:-webkit-autofill ~ .field__label,
.template-search{
  color: rgb(0, 0, 0);
}
.template-search.spaced-section,
.template-search{
    margin-top: 50px;
}
