.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  margin: 0;
}

.totals > h3 {
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__subtotal {
  color: var(--gray);
}

.totals__subtotal-value {

}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 769px) {
  .totals {
    justify-content: flex-end;
  }
}
