.product-card__image {
  padding-bottom: 100%;
  position: relative;
}

.product-card__image-label {
  position: absolute;
  left: 0;
  bottom: 20px;
  background: var(--blue);
  color: white;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-card__image .aspect-ratio {
  transition: opacity .4s ease-in-out;
}

.product-card__image .aspect-ratio:nth-child(2) {
  opacity: 0;
}

.product-card__container {
  padding-top: 20px;
  position: relative;
}

.product-card__title {
  margin: 0 0 6px;
}

.product-card__title > span.body {
  text-transform: lowercase;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity .4s ease-in-out;
}

.product-card__price {
  margin: 10px 0 0;
  padding-top: 5px;
}

.product-card__price .old-price {
  margin-right: 5px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  opacity: .3;
}

.product-card__swatches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  margin-top: 10px;
}

.product-card__swatch {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease;
}

.product-card__swatch.hidden {
  opacity: 0;
}

.product-card__description {
  margin-top: 16.5px;
}

.product-card__link {
  margin-top: 30px;
}

@media only screen and (min-width: 769px) {
  .product-card.has-animation:hover .aspect-ratio:first-child {
    opacity: 0;
  }

  .product-card.has-animation:hover .aspect-ratio:nth-child(2) {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .product-card__container {
    padding-top: 8px;
  }

  .product-card__title {
    margin: 0 0 5px;
    line-height: 1.5;
  }

  .product-card__content {
    height: auto;
    display: block;
  }
}