#localization_form {
  position: relative;
}

.currency__button,
#CurrencyList a {
  display: flex;
}

.currency__button svg,
#CurrencyList a svg {
  width: 18px;
  margin-right: 5px;
}

#CurrencyList {
  padding: 5px 10px;
  position: absolute;
}