.article-card__image {
  padding-bottom: 60%;
  position: relative;
}

.article-card__container {
  padding-top: 20px;
  position: relative;
}

.article-card__date {
  margin: 0 0 10px;
}

.article-card__title {
  margin: 0;
}