.list-social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item {
  font-family: brandon;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 33px;
  position: relative;
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  /* padding: 1.3rem; */
  color: rgb(var(--color-foreground));
  min-height: 24px;
}

.list-social__link span {
  display: inherit;
  min-height: 24px;
}

.list-social__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  background-position: center center;
  background-size: 120%;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
