.cart-drawer {
  width: 100%;
  max-width: 480px;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  position: fixed; 
  right: 0;
  top: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
  z-index: 15;
  background: white;
}

.cart-drawer[aria-hidden="false"] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__inner {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.cart-drawer__header {
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--beige-secondary);
  border-bottom: 1px solid var(--beige-secondary);
}

.cart-drawer__close {
  max-width: 20px;
}

.cart-drawer__content {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: transparent linear-gradient(180deg,#fff 0,var(--beige-light) 100%) 0 0 no-repeat padding-box;
}

.cart-drawer__items {
  height: 100%;
  overflow: scroll;
}

.cart-item {
  padding: 15px 20px 15px 8px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--beige-secondary);
}

.cart-item .cart-item__image-wrapper {
  display: flex;
}

cart-drawer-remove-button {
  background: currentColor;
}

.cart-item__remove {
  width: 30px;
  height: 30px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  align-items: center;
  color: black;
}

.cart-item__image {
  height: 120px;
  width: 120px;
  position: relative;
  flex-shrink: 0;
}

.cart-item__content {
  width: 100%;
  padding-left: 20px;
}

.cart-item__title {
  margin: 0;
  font-weight: 500;
  font-family: louize;
}

.cart-item__frequency {
  margin: 0 0 10px;
  text-transform: unset;
}

.cart-item__option {
  margin: 0 0;
  text-transform: unset;
  font-weight: 400;
  font-family: brandon;
}

.cart-item__option--final-sale {
  font-size: 14px;
  line-height: 1.2;
  color: #546b82;
  margin-top: 3px;
}

.cart-item__bottom {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__quantity {
  background: white;
  border: 1px solid var(--gold);
}

.cart-item__quantity .quantity {
  height: unset;
}

.cart-item__quantity .quantity__button {
  width: 30%;
}

.cart-item__quantity .quantity__input {
  width: 20px;
  height: auto;
}

.cart-item__price dd {
  margin-inline-start: 0;
}

.cart-item__discounted-prices {
   display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.cart-item__discounted-prices .cart-item__old-price {
  margin-right: 5px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  opacity: .3;
}
.cart-item__price .price {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
}

.cart-item__discounts {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
  padding: 0;
}

.cart-item__discount-label {
  list-style: none;
  background: var(--gray);
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.cart-note-meta {
  font-size: 12px;
  line-height: 1;
  margin-top: 10px;
  color: #546B82;
  font-weight: 600;
}

.cart-drawer__footer {
  background-color: white;
  padding: 5px 20px 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--beige);
  z-index: 4;
}

.cart-drawer__subtotal-wrapper {
  text-transform: uppercase;
  color: var(--gray);
}

.cart-drawer__subtotal {
  font-weight: 500;
  color: var(--blue);
}

.cart-drawer__shipping-wrapper {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__subtotal-wrapper {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__loading-container.loading h4 {
  opacity: 0;
}

.cart-drawer__loading-container .loading-overlay {
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  background: white;
}

.cart-drawer__footer .button {
  width: 100%;
}

.cart-drawer__taxes {
  text-align: center;
  text-transform: uppercase;
  color: var(--gray);
}

@media (max-width: 768px) {
  .cart-item__option--final-sale {
    font-size: 12px;
  }
  
  .cart-item__image {
    height: 100px;
    width: 100px;
  }
}

/* Empty Cart */
.cart-drawer__empty {
  width: 100%;
  padding: 0px 20px 100px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.cart-upsell__container {
  display: flex;
  border-radius: 17px;
  padding: 5px;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  margin: 6px 0;
}

.cart-upsell__container-left {
  display: flex; 
}

.cart-upsell__container-left h6 {
  margin: 0 0 5px;
}

.cart-upsell__img {
  height: 95px;  
  margin-right: 10px;
}

.cart-upsell__img img {
  border-radius: 12px;
}

.cart-upsell__container-atc {
  text-align: left;
  align-self: center;
}

.cart-upsell__button {
  background-color: #ECD8C5; 
  padding: 6px 22px;
  border-radius: 30px;
  text-transform: unset;
  cursor: pointer;
}

.cart-upsell__container-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.cart-upsell__container-right p {
  margin: 0;
}

.cart-upsell__sale-price {
  color: #545759;
  text-decoration: line-through;
}

.text-hero__title .h2 {
  transform: translate(0px, -5px) !important;
}


.cart-drawer__empty .small_text {
  text-transform: none;
}

.trending {
  background-color: #E2EEF6;
  border: 2px solid #1F2322;
  border-radius: 18px;
  padding: 3px 11px;
  min-width: 75px;
}

.popular {
  background-color: #E2EEF6;
  border: 2px solid #1F2322;
  border-radius: 18px;
  padding: 3px 11px;
  min-width: 75px;
}

.trending p, .popular p {
  text-transform: none;
  text-align: center;
}

.sub-upsell__container {
  padding: 22px 8px 8px;
}

.sub-products__text {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
}

.sub-upsell__container-scroll {
  overflow: scroll;
  position: relative;
  white-space: nowrap;
  display: flex; 
  gap: 10px;
}

.cart-drawer__second-slide {
  width: 100%;
  height: 100vh;
  background: transparent linear-gradient(180deg,#fff 0,var(--beige-light) 100%) 0 0 no-repeat padding-box;
  position: absolute;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
}

.cart-drawer__second-slide.show-second {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__second-container {
  margin-top: 40px;
}

.cart-drawer__radio-container {
  margin-top: 40px; 
}

.cart-drawer__radio-container .container {
  display: block;
  position: relative;
  padding: 20px 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  border-top: 1px solid #a7a7a7;
}

.cart-drawer__radio-container .container:last-of-type {
  border-bottom: 1px solid black;
}

.cart-drawer__radio-container .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #000;
  transform: translate(0%,-50%);
}

.cart-drawer__radio-container .container input:checked ~ .checkmark {
  background-color: transparent;
}

.cart-drawer__radio-container .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cart-drawer__radio-container .container input:checked ~ .checkmark:after {
  display: block;
}

.cart-drawer__radio-container .container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

.cart-drawer__second-container .button {
  margin: 20px;
  animation: unset;
  will-change: unset;
  transition: unset;
  background: #F6ECE1;
  cursor: pointer;
}

.cart-drawer__content .cart-item .cart-item__remove {
  display:none;
}

.template-cart .cart-item .cart-item__remove {
   display:none;
}

.cart-drawer__footer .cart-drawer__taxes {
  margin: 12px 0;
}

.cart-text-with-icon {
  display:flex;
  justify-content: center;
}

.cart-text-with-icon .icon-text-box {
  position: relative;
  display: flex;
  align-items: center; 
}
.cart-text-with-icon .icon-text-box:first-child {
  padding-right: 20px;
  justify-content: end;
  width: 35%;
}

.cart-text-with-icon .icon-text-box:last-child {
  padding-left: 20px;
}

.cart-text-with-icon .icon-text-box:before {
  content:"";
  position:absolute;
  right: 0;
  top: 0;
  background: #D2B065;
  height: 100%;
  width: 1px;
}

.cart-text-with-icon .icon-text-box:last-child:before {
  display:none;
}

.cart-text-with-icon .icon-text-box h6 {
  font-size: 18px;
  margin: 0;
  line-height: 1.25;
  max-width: 150px;
}

.cart-text-with-icon .icon-text-box:first-child h6 {
  max-width: 65px;
}

.cart-text-with-icon .icon-text-box span {
  padding-right: 14px;
}

.template-cart .cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 0;
}

.template-cart .cart-text-with-icon {
  justify-content: flex-end;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.cart-drawer .cart-drawer__items {
  overflow: auto;
  overflow-x: hidden;
  height: calc(100vh - 305px);
}

@media (max-width:769px) {
  .cart-drawer .cart-drawer__items {
    height: calc(100vh - 291px);
  }
  
  .template-cart .cart-text-with-icon {
    justify-content: center;
  } 
}

@media (max-width:500px) {
  #ot-sdk-btn-floating.ot-floating-button {
    bottom: 60px;
  }
  
  .cart-text-with-icon .icon-text-box:last-child {
    padding-left: 12px;
  } 
  
  .cart-text-with-icon .icon-text-box:first-child {
    width:unset;
    padding-right: 12px;
  }
}

/* Rebuy Block CSS [START] */

.cart-drawer .cart-drawer__items .single__product {
  margin-bottom: 10px;
}

.rebuy-widget-content .primary-title {
  color: var(--blue);
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  line-height: normal;
  font-family: louize;
}

.cart-drawer .cart-drawer__items {
  background: #fff;
}

.cart-drawer .cart-drawer__items .cart-drawer__subtotal-wrapper {
  border-top: 1px solid var(--beige);
  margin-top: 15px;
}

/* REBUY */
.cart-drawer__rebuy {
  padding-top: 0;
}

.cart-drawer__rebuy .super-title {
  display: none;
  text-align: center;
  margin: 0 0 15px;
  font-weight: 500;
  font-family: louize;
  font-size: 20px;
  text-transform: initial;
  color: #546b82;
}

.cart-drawer .cart-drawer__items .rebuy-widget {
  padding: 15px 20px 30px 8px;
}

.rebuy-widget .rebuy-product-grid.large-carousel, 
.rebuy-recommended-products .rebuy-product-grid.large-carousel {
  padding-left: 0;
  padding-right: 0;
}

.rebuy-widget .rebuy-product-grid.large-columns-1 .rebuy-product-block, 
.rebuy-recommended-products .rebuy-product-grid.large-columns-1 .rebuy-product-block {
  padding-top: 0;
  padding-bottom: 0;
}

.rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media, 
.rebuy-recommended-products .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media {
  width: 100px;
} 

.rebuy-widget .rebuy-product-title, 
.rebuy-modal__product-title {
  font-size: 18px;
  color: #546B82;
  font-weight: 500;
  font-family: louize;
}

.rebuy-money, 
.rebuy-widget .rebuy-money {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.6px;
}

/* Splide slider */

.slider__product .rebuy-widget .rebuy-product-block .rebuy-button {
  background: #D1BD93;
  border-color: #D1BD93;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  font-family: brandon;
  padding: 6px 10px;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow.splide__arrow--prev{
  top: 0;
  right: 60px;
  left: auto;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow.splide__arrow--next{
  top: 0;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow svg {
  width: 16px;
  height: 16px;
}

.rebuy-product-grid.flickity-enabled .flickity-page-dots {
  padding: 3px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  row-gap: 15px;
  flex-wrap: wrap;
  column-gap: 7.5px;
  bottom: 0;
}

.rebuy-product-grid.flickity-enabled .flickity-page-dots .dot {
  background: transparent;
  border: 1px solid var(--gold);
  border-radius: 0;
  max-width: 12px;
  max-height: 12px;
  transform: rotate(45deg);
  opacity: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 2px !important;
}

.rebuy-product-grid.flickity-enabled .flickity-page-dots .dot.is-selected:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
  content: "";
  background: var(--gold);
  transform: translate(-50%, -50%);
  width: 5.68px;
  height: 5.68px;
}

.rebuy-product-grid.flickity-enabled .flickity-button {
  display: none;
}

.rebuy-product-grid.flickity-enabled .flickity-button .flickity-button-icon {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  fill: #546b82;
}

.rebuy-widget-content .powered-by-rebuy {
  display: none;
}

.rebuy-widget .rebuy-product-block .rebuy-product-actions {
  width: 90px !important;
}

.single__product .rebuy-product-grid .rebuy-button,
.rebuy-product-grid.flickity-enabled .rebuy-button {
  background: #D1BD93;
  border-color: #D1BD93;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  font-family: brandon;
  padding: 6px 10px;
}

.slider__product .rebuy-product-block {
  width: 46% !important;
  margin-right: 2%;
  padding: 8px !important;
  border-radius: 10px;
  border: 1px solid var(--beige);
  background: var(--beige-secondary);
}

.slider__product .rebuy-product-media {
  width: 45px !important;
}

.slider__product .rebuy-widget .rebuy-product-block .rebuy-product-actions {
  width: 50px !important;
}

.slider__product .rebuy-widget .rebuy-product-block .rebuy-button {
  padding: 8px 12px !important;
  font-size: 12px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__product .rebuy-widget .rebuy-product-title,
.slider__product  .rebuy-widget .rebuy-money {
  font-size: 12px;
  line-height: 15px;
  margin-top: 0 !important;
  letter-spacing: 0;
}

.slider__product .rebuy-widget .rebuy-product-grid.large-carousel {
  padding-top: 30px;
}

.slider__product .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-info {
  padding: 0 8px !important;
}

.slider__product .rebuy-widget .rebuy-product-price {
  margin-top: 0 !important;
}

.cart-drawer .cart-drawer__items .slider__product .rebuy-widget {
  padding-right: 0;
}

.slider__product .rebuy-product-grid.flickity-enabled .flickity-button {
  display: flex;
  top: 10px;
  background: transparent;
  width: 14px;
  height: 14px;
  z-index: 3;
}

.slider__product .rebuy-widget .flickity-button.previous {
  right: 80px;
  left: auto;
}

.slider__product .rebuy-widget .flickity-button.next {
  right: 30px;
}

.slider__product .rebuy-product-grid.flickity-enabled .flickity-page-dots {
  display: none;
}

.slider__product .rebuy-widget .primary-title {
  color: #546B82;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  font-family: louize;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: -20px !important;
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 70%;
}

.slider__product .rebuy-widget .flickity-button:focus{
  box-shadow: none;
}

@media (min-width: 769px) {
  .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media, 
  .rebuy-recommended-products .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .slider__product .rebuy-product-block {
    width: 64% !important;
    margin-right: 2%;
  } 
}

/* Rebuy Block CSS [END] */

/* Afterpay [START] */

square-placement {
  margin-top: 0;
}

#gift-note-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#gift-note-modal.is-visible {
  transform: translateX(0);
}

.gift-note-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#gift-note-text {
  width: 100%;
  min-height: 120px;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #333;
  font-family: inherit;
  resize: vertical;
  background-color: #fff;
}

#gift-note-text::placeholder {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

#add-gift-note-btn {
  background-color: var(--gold);
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: brandon;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 16px 50px;
}
.char-count {
  font-size: 0.8rem;
  color: #666;
  text-align: right;
  text-transform: uppercase;
  margin-top: -0.5rem;
}

.gift-wrap-note {
  font-size: 0.75rem;
  color: #999;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.gift-note__header {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#close-gift-note {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 0;
}
#gift-wrap-option {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--beige);
  margin: 0 -20px;
}
.gift-note__image {
    text-align: center;
    margin: 15px 0;
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(99, 102, 106, .1);
}
#gift-wrap-option input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
#gift-wrap-option label {
    position: relative;
    cursor: pointer;
}
#gift-wrap-option label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 9px;
    height: 18px;
    width: 18px;
    border: 1px solid #546B82;
    top: -3px;
}
#gift-wrap-option input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #546B82;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}