/*============================================================================
  /pages/indoor-mats-2
==============================================================================*/
.indoor-mats-2 .header__navigation {
  display: none;
}

.indoor-mats-2 .header__icon--cart {
  display: none;
}

.indoor-mats-2 .image-slideshow__paragraph {
  max-width: 300px;
  margin: 0 auto;
}

.indoor-mats-2 .image-slideshow__block-content {
  justify-content: center;
  text-align: center !important;
  font-size: 18px;
}

@media (max-width: 989px){
  .indoor-mats-2 .header--inner {
    grid-template-areas: unset;
    display: flex;
    justify-content: center;
  }

  .indoor-mats-2 .header__icons {
    display: none;
  }

  .indoor-mats-2 .image-slideshow__block-content a {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 24px;
    width: 75%;  
  }
}

@media (min-width: 990px){
  .indoor-mats-2 main#MainContent {
    padding-top: 100px;
  }

  .indoor-mats-2 .image-with-text .home-banner .FeatureText .FeatureText__ContentWrapper .SectionHeader .SectionHeader__Description p {
    font-size: 24px;
  }

  .indoor-mats-2 .image-with-text .home-banner .FeatureText .FeatureText__ContentWrapper .SectionHeader__Heading p {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .indoor-mats-2 .image-slideshow__title {
    font-size: 36px;
  }

  .indoor-mats-2 .main#MainContent {
    padding-top: 70px;
  }
}

