/* Main */
.customer-gate__wrapper {
  padding: 100px 0 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 110px;
}

.customer-gate__container {
  max-width: 440px;
  width: 100%;
}

.register .customer-gate__container {
  padding: 100px 0;
  margin: 0 auto;
}

.customer-gate__title {
  margin: 0;
  text-align: center;
}

.customer-gate__text {
  margin: 20px 0 0;
  text-align: center;
}

.customer-gate form {
  margin-top: 30px;
}

.customer__alt-link {
  margin-top: 14px;
  text-align: center;
  font-size: 11px;
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.2em;
  display: block;
  letter-spacing: 1px;
  margin:40px 0;
}

.customer-gate__recover-link {
  margin: 0 0 50px;
  display: block;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  position: relative;
}

.register .customer-gate__button {
  margin-top: 0;
}

.form__message {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .customer-gate__wrapper {
    padding: 40px 0;
    display: block;
  }

  .register .customer-gate__container {
    padding: 40px 0;
  }

  .customer-gate__text {
    margin-top: 14px;
  }
}

/* Recover */
.customer-gate__recover-container {
  max-width: 440px;
  margin: 0 auto;
  padding: 100px 0 60px;
}

.customer-gate__recover-link {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.2em;
  display: block;
}

@media screen and (max-width: 768px) {
  .customer-gate__recover-container {
    padding: 40px 0;
  }
}

/* Formatting */
#recover,
#login {
  scroll-margin-top: 250px;
}

#recover {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + #login {
  display: none;
}

#login:target {
  display: flex;
}