/*========== Color Contrast Start ==========*/

.collection-filters__button {
  background-color: #5A553F !important;
}

.load-more-wrapper .button {
  background-color: #6B531F;
}

.article-card .article-card__link {
  color: #514C39;
}

.cart-drawer__empty .button {
  background: #6B531F;
}

.collection-filters__dropdown-button {
  color: #575757 !important;
}

/*========== Color Contrast End ==========*/


/*========== jdgm edits Start ==========*/

span.jdgm-prev-badge__stars {
  min-height: 24px;
  display: inline-block;
}

.jdgm-prev-badge__text {
  font-size: 17px !important;
  line-height: 24px !important;
}

.rating-reviews a {
  min-height: 24px;
  display: inline-block;
}

.collection-filters__filters .text-link {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

/*========== jdgm edits End ==========*/

.product__price-reviews-wrapper .price-item--regular-b2b {
  text-decoration: line-through;
}

.product__swatches.product__swatches--new {
  row-gap: 23px;
}

.product__swatch {
  position: relative;
}

.product__swatches .product__swatch-badge-new {
  position: absolute;
  bottom: -16px;
  left: 50%;
  background: var(--blue);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 7px 9px;
  border-radius: 17px;
  pointer-events: none;
  text-transform: uppercase;
  z-index: 2;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}

#ot-sdk-btn-floating.ot-floating-button {
  display: none;
}


/* Rebuy Block CSS [START] */

.cart-drawer .cart-drawer__items .single__product {
  margin-bottom: 10px;
}

.rebuy-widget-content .primary-title {
  color: var(--blue);
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  line-height: normal;
  font-family: louize;
}

.cart-drawer .cart-drawer__items {
  background: #fff;
}

.cart-drawer .cart-drawer__items .cart-drawer__subtotal-wrapper {
  border-top: 1px solid var(--beige);
  margin-top: 15px;
}

/* REBUY */
.cart-drawer__rebuy {
  padding-top: 0;
}

.cart-drawer__rebuy .super-title {
  display: none;
  text-align: center;
  margin: 0 0 15px;
  font-weight: 500;
  font-family: louize;
  font-size: 20px;
  text-transform: initial;
  color: #546b82;
}

.cart-drawer .cart-drawer__items .rebuy-widget {
  padding: 15px 20px 30px 8px;
}

.rebuy-widget .rebuy-product-grid.large-carousel, 
.rebuy-recommended-products .rebuy-product-grid.large-carousel {
  padding-left: 0;
  padding-right: 0;
}

.rebuy-widget .rebuy-product-grid.large-columns-1 .rebuy-product-block, 
.rebuy-recommended-products .rebuy-product-grid.large-columns-1 .rebuy-product-block {
  padding-top: 0;
  padding-bottom: 0;
}

.rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media, 
.rebuy-recommended-products .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media {
  width: 100px;
} 

.rebuy-widget .rebuy-product-title, 
.rebuy-modal__product-title {
  color: #546B82;
  font-family: brandon;
  font-size: 18px;
  line-height: 120%;
  font-family: brandon;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.rebuy-money, 
.rebuy-widget .rebuy-money {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.6px;
}

/* Splide slider */

.slider__product .rebuy-widget .rebuy-product-block .rebuy-button {
  background: #D1BD93;
  border-color: #D1BD93;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  font-family: brandon;
  padding: 6px 10px;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow.splide__arrow--prev{
  top: 0;
  right: 60px;
  left: auto;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow.splide__arrow--next{
  top: 0;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow svg {
  width: 16px;
  height: 16px;
}

.rebuy-product-grid.flickity-enabled .flickity-page-dots {
  padding: 3px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  row-gap: 15px;
  flex-wrap: wrap;
  column-gap: 7.5px;
  bottom: 0;
}

.rebuy-product-grid.flickity-enabled .flickity-page-dots .dot {
  background: transparent;
  border: 1px solid var(--gold);
  border-radius: 0;
  max-width: 12px;
  max-height: 12px;
  transform: rotate(45deg);
  opacity: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 2px !important;
}

.rebuy-product-grid.flickity-enabled .flickity-page-dots .dot.is-selected:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
  content: "";
  background: var(--gold);
  transform: translate(-50%, -50%);
  width: 5.68px;
  height: 5.68px;
}

.rebuy-product-grid.flickity-enabled .flickity-button {
  display: none;
}

.rebuy-product-grid.flickity-enabled .flickity-button .flickity-button-icon {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  fill: #546b82;
}

.rebuy-widget-content .powered-by-rebuy {
  display: none;
}

.slider__product .rebuy-widget .rebuy-product-block .rebuy-product-actions {
  width: 90px !important;
}

.single__product .rebuy-product-grid .rebuy-button,
.rebuy-product-grid.flickity-enabled .rebuy-button {
  background: #D1BD93;
  border-color: #D1BD93;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  font-family: brandon;
  padding: 6px 10px;
}

.slider__product .rebuy-product-block {
  width: 46% !important;
  margin-right: 2%;
  padding: 8px !important;
  border-radius: 10px;
  border: 1px solid var(--beige);
  background: var(--beige-secondary);
}

.slider__product .rebuy-product-media {
  width: 45px !important;
}

.slider__product .rebuy-widget .rebuy-product-block .rebuy-product-actions {
  width: 50px !important;
}

.slider__product .rebuy-widget .rebuy-product-block .rebuy-button {
  padding: 8px 12px !important;
  font-size: 12px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__product .rebuy-widget .rebuy-product-title,
.slider__product  .rebuy-widget .rebuy-money {
  font-size: 12px;
  line-height: 15px;
  margin-top: 0 !important;
  letter-spacing: 0;
}

.slider__product .rebuy-widget .rebuy-product-grid.large-carousel {
  padding-top: 30px;
}

.slider__product .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-info {
  padding: 0 8px !important;
}

.slider__product .rebuy-widget .rebuy-product-price {
  margin-top: 0 !important;
}

.cart-drawer .cart-drawer__items .slider__product .rebuy-widget {
  padding-right: 0;
}

.slider__product .rebuy-product-grid.flickity-enabled .flickity-button {
  display: flex;
  top: 10px;
  background: transparent;
  width: 14px;
  height: 14px;
  z-index: 3;
}

.slider__product .rebuy-widget .flickity-button.previous {
  right: 80px;
  left: auto;
}

.slider__product .rebuy-widget .flickity-button.next {
  right: 30px;
}

.slider__product .rebuy-product-grid.flickity-enabled .flickity-page-dots {
  display: none;
}

.slider__product .rebuy-widget .primary-title {
  color: #546B82;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  font-family: louize;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: -20px !important;
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 70%;
}

.slider__product .rebuy-widget .flickity-button:focus{
  box-shadow: none;
}

@media (min-width: 769px) {
  .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media, 
  .rebuy-recommended-products .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .slider__product .rebuy-product-block {
    width: 64% !important;
    margin-right: 2%;
  } 
}

/* Rebuy Block CSS [END] */