/* Account Header */
.account-header {
  padding: 60px 0;
  text-align: center;
  border-bottom: 1px solid var(--blue);
}

.account-header__title {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .account-header {
    padding: 40px 0;
  }

  .account-header__title {
    font-size: 30px;
  }
}

/* Customer */
.customer {
  margin: 100px 0;
}

.customer__container {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}

.customer__navigation {
  flex-shrink: 0;
}

.customer__navigation-link {
  font-size: 14px;
  margin-bottom: 18px;
  display: block;
  text-align: left;
  opacity: .5;
  transition: opacity .3s ease;
  text-transform: uppercase;
  font-family: brandon;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--blue);
  opacity: 1;
}

.customer__navigation-link:last-child {
  margin: 0;
}

.customer__navigation-link.active {
  color: var(--gold);
}

.customer__content {
  width: 100%;
}

.customer__content-section {
  display: none;
}

.customer__content-section.active {
  display: block;
}

.customer__content-title {
  margin: 0 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .customer {
    margin: 50px 0;
  }

  .customer__container {
    display: block;
  }

  .customer__navigation {
    border-bottom: 1px solid #546B82;
  }

  .customer__navigation-button {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .customer__navigation-button svg {
    width: 11px;
    transition: transform .3 ease;
  }

  .customer__navigation-button.active svg {
    transform: scaleY(-1);
  }

  .customer__navigation-container {
    display: none;
  }

  .customer__navigation-container .customer__navigation-link:last-child {
    padding-bottom: 20px;
    display: block;
  }

  .customer__content {
    margin-top: 30px;
  }

  .customer__navigation-button-text.p {
    text-transform: uppercase;
    font-family: brandon;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--blue);
  }
  
}

/* Addresses */
div[data-address] {
  text-align: left;
}

.addresses-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  
  .addresses-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
}

/* Address Item */
.address {
  text-align: left;
}

.address__title {
  margin: 0 0 10px !important;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

li.address h5 {
  margin: 0 0 10px;
}

.address p {
  margin: 0;
  letter-spacing: .02em;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: unset;
  color: var(--blue);
}

.address__links {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.address__link {
  text-decoration: underline;
  font-size: 11px;
  color: var(--blue);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2em;
}

@media only screen and (max-width: 768px) {
  
  .address__links {
    margin-top: 30px;
  }

  .field.field--flex.Checkbox_Field {
    margin-bottom: 30px;
  }
  
}

/* Modal */
.account__modal .modal__overlay {
  background: rgba(79, 88, 87, 0.6);
}

.account__modal-container {
  padding: 20px;
  background: white;
}

.account__modal-wrapper {
  max-height: 100%;
  max-width: 600px;
  width: 100%;
  overflow: scroll;
}

.account__modal-close {
  padding: 5px;
  display: flex;
  z-index: 2;
  top: -30px;
  right: -30px;
}

.account__modal-title {
  margin: 0 0 40px;
  text-align: center;
}

.account__modal-content {
  position: relative;
}

.account__modal-content form {
  display: block;
}

.account__modal-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.account__modal .field--flex input {
  width: unset;
  margin: 0 0 12px;
  padding: 5px;
  flex-grow: 0;
}

.select__select {
  font-size: 18px;
  color: var(--blue);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6801 5.36588C4.86018 5.54471 5.15002 5.54471 5.31994 5.36588L9.35 1.36386C9.55 1.16525 9.55 0.847562 9.35 0.648955C9.15 0.450349 8.83008 0.450349 8.63009 0.648955L5.31992 3.93609C5.13984 4.11492 4.85 4.11492 4.68008 3.93609L1.36991 0.648955C1.16991 0.450348 0.849996 0.450348 0.649998 0.648955C0.449999 0.847561 0.449999 1.16525 0.649997 1.36386L4.6801 5.36588Z' fill='%23546B82'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.68008 3.93609C4.85 4.11492 5.13984 4.11492 5.31992 3.93609L8.63009 0.648955C8.83008 0.450349 9.15 0.450349 9.35 0.648955C9.55 0.847562 9.55 1.16525 9.35 1.36386L5.31994 5.36588C5.15002 5.54471 4.86018 5.54471 4.6801 5.36588L0.649997 1.36386C0.449999 1.16525 0.449999 0.847561 0.649998 0.648955C0.849996 0.450348 1.16991 0.450348 1.36991 0.648955L4.68008 3.93609ZM4.32778 5.72067L0.297682 1.71865C-0.0992262 1.3245 -0.0992281 0.688317 0.297681 0.294169C0.692655 -0.0980564 1.32725 -0.0980565 1.72223 0.294169L5 3.54913L8.27777 0.29417C8.67274 -0.0980561 9.30734 -0.0980561 9.70232 0.29417C10.0992 0.688317 10.0992 1.3245 9.70232 1.71865L5.67648 5.71647C5.30337 6.10222 4.69503 6.08536 4.32778 5.72067Z' fill='%23546B82'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 99% 60%;
  border-bottom: 1px solid #546B82;
  font-family: 'brandon';
}

.select::after {
  display: none;
}

.account__modal-buttons button[type="reset"] {
  font-size: 11px;
  color: var(--blue);
  letter-spacing: 2px;
  line-height: 1.2em;
}

/* Addresses page */
.adresses-page__container {
  max-width: 1130px;
  margin: 60px auto 80px;
}

.adresses-page__container .addresses-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1050px) {
  .adresses-page__container .addresses-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  
  .adresses-page__container {
    margin: 40px 0;
  }

  .adresses-page__container .addresses-grid {
    grid-template-columns: 1fr;
  }
  
  .select__select {
    font-size: 14px;
  }

  .account__modal .field--flex input {
    margin: 0;
  }
  
}
/* Orders */
.order-history__item {
  margin-bottom: 20px;
  padding: 20px 20px 30px;
  border: 1px solid currentColor;
}

.order-history__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.order-history__item-header-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-history__item-order {
  margin: 0;
}

.order-history__item-date {
  margin: 0;
  opacity: 1;
  color: var(--gold);
}

.order-history__item-fufillment {
  margin: 0;
  padding: 3px 10px;
  border-radius: 3px;
  border: 1px solid var(--blue);
  font-size: 11px;
  line-height: 1.2em;
  letter-spacing: 2px;
  color: var(--blue);
}

.order-history__product {
  padding: 20px 0;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid currentColor;
}

.order-history__product:last-child {
  padding-bottom: 0;
  border: 0;
}

.order-history__product__image {
  width: 100px;
  height: 100px;
  position: relative;
}

.order-history__product-title {
  margin: 0 0 6px;
}

.order-history__product-option {
  margin: 0;
}

.order-history__product-quantity {
  margin: 5px 0 0;
}

.account-header {
  background-image: url("https://cdn.shopify.com/s/files/1/0084/8602/7327/files/Rectangle_600_709112db-c9c6-4da2-886d-2728a4e401c0.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding: 20px;
}

.Account_Header_Inner {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f4f2ee;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  
  .order-history__item-header {
    flex-direction: column;
    gap: 20px;
  }

  .order-history__item-header-group {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }

  .order-history__item-header .button {
    width: 100%;
  }

  .account-header {
    height: 196px;
  }

  .address p {
    font-size: 14px;
  }

}

/* Order Details */
.order-detail {
  margin: 60px 0 80px;
}

.order-detail__container {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}

.order-detail__info {
  width: 100%;
}

.order-detail__info-title {
  margin: 0 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--blue);
}

.order-detail__info-item {
  margin: 20px 0;
}

.order-details {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.order-details th {
  padding-bottom: 14px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid var(--blue);
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2px;
  color: var(--blue);
}

.order-details tr td {
  padding: 20px 0;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.2;
  letter-spacing: 0.02em;
  text-transform: unset;
  border-bottom: 1px solid black;
} 

.order-details tr td a {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.2em;
  text-decoration: underline;
  color: var(--gold);
}

.order-detail__addresses {
  width: 273px;
  flex-shrink: 0;
}

.order-detail__billing {
  margin-bottom: 40px;
}

.order-detail__addresses-title {
  margin: 0 0 20px;
}

@media screen and (max-width: 1050px) {
  .order-detail__container {
    display: block;
  }

  .order-detail__addresses {
    width: 100%;
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .order-detail {
    margin: 40px 0;
  }

  .order-details-wrapper {
    margin: 0 -20px;
    padding: 0 20px;
    overflow-x: scroll;
  }

  .order-details {
    min-width: 700px;
  }
}