/*========== Color Contrast Start ==========*/

.collection-filters__button {
  background-color: #5A553F !important;
}

.load-more-wrapper .button {
  background-color: #6B531F;
}

.article-card .article-card__link {
  color: #514C39;
}

.cart-drawer__empty .button {
  background: #6B531F;
}

.collection-filters__dropdown-button {
  color: #575757 !important;
}

/*========== Color Contrast End ==========*/


/*========== jdgm edits Start ==========*/

span.jdgm-prev-badge__stars {
  min-height: 24px;
  display: inline-block;
}

.jdgm-prev-badge__text {
  font-size: 17px !important;
  line-height: 24px !important;
}

.rating-reviews a {
  min-height: 24px;
  display: inline-block;
}

.collection-filters__filters .text-link {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

/*========== jdgm edits End ==========*/

.price-item--regular-b2b {
  text-decoration: line-through;
}