/*========== Color Contrast Start ==========*/

.collection-filters__button {
  background-color: #5A553F !important;
}

.load-more-wrapper .button {
  background-color: #6B531F;
}

.article-card .article-card__link {
  color: #514C39;
}

.cart-drawer__empty .button {
  background: #6B531F;
}

.collection-filters__dropdown-button {
  color: #575757 !important;
}

/*========== Color Contrast End ==========*/


/*========== jdgm edits Start ==========*/

span.jdgm-prev-badge__stars {
  min-height: 24px;
  display: inline-block;
}

.jdgm-prev-badge__text {
  font-size: 17px !important;
  line-height: 24px !important;
}

.rating-reviews a {
  min-height: 24px;
  display: inline-block;
}

.collection-filters__filters .text-link {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

/*========== jdgm edits End ==========*/

.product__price-reviews-wrapper .price-item--regular-b2b {
  text-decoration: line-through;
}

.product__swatches.product__swatches--new {
  row-gap: 23px;
}

.product__swatch {
  position: relative;
}

.product__swatches .product__swatch-badge-new {
  position: absolute;
  bottom: -16px;
  left: 50%;
  background: var(--blue);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 7px 9px;
  border-radius: 17px;
  pointer-events: none;
  text-transform: uppercase;
  z-index: 2;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}