/*========== Color Contrast Start ==========*/

.collection-filters__button {
  background-color: #5A553F !important;
}

.load-more-wrapper .button {
  background-color: #6B531F;
}

.article-card .article-card__link {
  color: #514C39;
}

.cart-drawer__empty .button {
  background: #6B531F;
}

.collection-filters__dropdown-button {
  color: #575757 !important;
}

/*========== Color Contrast End ==========*/

video::-webkit-media-text-track-display {
  display: none !important;
}

video::cue {
  display: none;
}

.image-gallery img {
  width: 100% !important;
  height: 100% !important;
}

.image-with-text .home-banner .FeatureText .FeatureText__ContentWrapper .SectionHeader .Link--underline { 
  background-color: #5A553F !important;
}

.shop-all-btn {
  background: #68562C !important;
}