.Designer_Program_Main {
  padding: 120px 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.Designer_Program_Main::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 30%);
  top: 0;
  left: 0;
  z-index: -1;
}

.Designer_Program_Main .Contact_Form {
  padding: 64px;
  max-width: 948px;
  margin: 0 auto;
  background: #FFFFFF;
}

.Designer_Program_Header h3 {
  margin-bottom: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.Designer_Program_Header {
  margin-bottom: 60px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.form__row-label {
  font-size: 18px;
  line-height: 120%;
  font-family: brandon;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact .field.How_Did_You_Hear {
  margin: 50px 0 70px;
}

.form__checkboxrow label {
  font-size: 18px;
  line-height: 120%;
  font-family: brandon;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;  
}

.Checkbox_Wrapper .form__checkboxrow {
  flex: 0 0 50%;
  margin: 0 0 27px;
}

.Checkbox_Wrapper {
  margin-top: 48px;
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select::after {
  display:none;
}


.form__checkboxrow label {
  position: relative;
  cursor: pointer;
}

.form__checkboxrow label::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 9px;
  height: 18px;
  width: 18px;
  border: 1px solid #546B82;
  top: -3px;
}

.form__checkboxrow input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #546B82;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.form__checkboxrow input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.customPopup {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #546b82b8;
}

.customPopup .customPopup-content {
  max-width: 480px;
  width: 90%;
  background: #fff;
  margin: 0 auto;
  padding: 30px 30px;
  text-align: center;
  margin-top: 40vh;
  position: relative;
  font-family: 'Brandon';
  font-size: 20px;
}

.customPopupclose svg {
  height: 15px;
  width: 15px;
}

.customPopupclose {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 39px;
  cursor: pointer;
  font-size: 15px;
}

ul.js-error-messages {
  color: red;
  list-style-type: none;
  margin: 0;
  font-size: 14px;
  font-family: brandon;
}

.field__input {
  padding: 7px 0;  
}

.contact__button .button {
  padding: 18px 84px;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
  margin: 0 auto;
}

.fan-motif__text {
  letter-spacing: 2px;
}

.fan-motif__heading {
  margin: 30px 0 50px;
}

.document__upload * {
  font-size: 18px;
  line-height: 1.3em;
  color: var(--blue);
  font-family: brandon;
  font-weight: 400;
}

.document__upload {
  margin-bottom: 40px;
}


@media screen and (max-width: 767px) {

  .Designer_Program_Main {
    padding: 32px 0;
  }

  .Designer_Program_Main .page-width {
    padding: 0 16px;
  }
  
  .document__upload * {
    font-size: 14px;
  }
  
  .form__checkboxrow label {
    font-size: 14px;
  }

  .Checkbox_Wrapper .form__checkboxrow {
    flex: 0 0 100%;
    margin: 0 0 38px;
  }

  .Checkbox_Wrapper .form__checkboxrow:last-child {
    margin-bottom: 19px; 
  }

  .contact__fields.Instagram_Field {
    display: block;
  }

  .Designer_Program_Header h2 {
    margin-bottom: 20px;
  }

  .Designer_Program_Header {
    margin-bottom: 34px;
  }

  .contact .field.How_Did_You_Hear {
    margin-bottom: 0;
  }

  .contact__button {
    margin-top: 20px;
  }

  .contact__button .button {
    padding: 14px 19px;
    width: 100%;
  }

  .Designer_Program_Main .Contact_Form {
    padding: 34px 12px;
  }

  .Designer_Program_Main .contact__fields {
    grid-column-gap: 38px;
  }

  .Checkbox_Wrapper {
    margin-top: 28px;
    margin-left: 14px; 
  }
  
}