.designer__image--layout {
}

.designer__image--layout-container {
  display: flex;
  flex-wrap: wrap;
}

.designer__image--grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex: 1;
}

.designer__image--grid img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.designer__image--right {
  position: relative;
  flex: 2;
}

@media (max-width: 767px) {
  
  .designer__image--layout-container {
    flex-direction: column;
  }

  .designer__image--grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .designer__image--right img {
    width: 100%;
  }
  
}