.designer__image--layout {
}

.designer__image--layout-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.designer__image--grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  flex: 1;
}

.image-left-top img,
.image-left-bottom img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-main {
  position: relative;
  flex: 2;
}

.image-main img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  
  .designer__image--layout-container {
    flex-direction: column;
  }

  .designer__image--grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .image-main img {
    width: 100%;
  }
  
}