.how__it--works-section {
  padding: 64px 0px;
}

.how__it--works-grid {
  display: flex;
  flex-wrap: wrap;
}

.how__it--works-section .page-width {
  max-width: 1440px;
  padding: 0 64px;
}

.how__it--works-image {
  flex: 0 0 59.15%;
  max-width: 59.15%;
}


.how__it--works-image figure {
  margin: 0;
}

.how__it--works-image img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.how__it--works-content {
  flex: 0 0 40.85%;
  max-width: 40.85%;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.how__it--works-content-wrapper {
  max-width: 488px;
  margin-left: auto;
  margin-right: auto;
}

.how__it--works-title {
  color: var(--gold-secondary--dark);
  margin-bottom: 16px;  
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: center;
}

.how__it--works-steps {
  max-width: 440px;
  list-style: none;
  padding: 40px 0 0;
  margin: 0 auto 0 0;
  position: relative;
}

.how__it--works-steps:before {
  content: '';
  left: 12px;
  top: 0;
  position: absolute;
  height: 100%;
  width: 1px;
  background: #D9D3C4; 
}

.how__it--works-steps .step {
  display: flex;
  align-items: flex-start;
  padding-bottom: 56px;
  padding-left: 48px;
  position: relative;
  margin-bottom: 8px;
}

.how__it--works-steps .step:before {
  content: "";
  left: -6px;
  top: 0;
  position: absolute;
  width: 38px;
  height: 38px;
  background-image: url('https://cdn.shopify.com/s/files/1/0084/8602/7327/files/icon.svg?v=1744966848'); 
  z-index: 1;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center;
}

.how__it--works-steps .step-text {
  color: var(--blue-secondary);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.how__it--works-steps .step-text * {
  margin: 0;
  font: inherit;
  color: inherit;
}

.how__it--works-button-container {
  text-align: center;
  margin-top: 16px;
}

.how__it--works-button {
  display: inline-block;
  padding: 20px 43px;
  font-weight: 600;
  background-color: var(--gold);
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #FFF;
  color: #000;
  font-family: brandon;
  cursor: pointer;
}

.how__it--works-button:hover {
  background-color: #b58849;
}

@media (min-width: 768px) {

  .how__it--works-image .how__it--works-title {
    display: none;
  }
  
}

@media (max-width: 1023px) {

  .how__it--works-image,
  .how__it--works-content {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .how__it--works-content {
    padding-left: 20px;
  }

  .how__it--works-title {
    font-size: 36px;
  }

  .how__it--works-section .page-width {
    padding: 0 30px;
  }
  
}

@media (max-width: 767px) {

  .how__it--works-section {
    padding: 40px 0;
  }

  .how__it--works-steps {
    margin-top: 20px;
    padding-top: 12px;
    max-width: 328px;
  }
  
  .how__it--works-section .page-width {
    padding: 0 16px;
  }

  .how__it--works-content-wrapper .how__it--works-title {
    display: none;
  }

  .how__it--works-image,
  .how__it--works-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .how__it--works-content {
    padding-left: 0;
  }

  .how__it--works-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .how__it--works-steps .step {
    padding-bottom: 32px;
    padding-left: 36px;
  }

  .how__it--works-button-container {
    margin-top: 24px; 
  }

  .how__it--works-steps .step:before {
    background-size: 24px 24px;
    width: 30px;
    height: 30px;
    left: -2px;
    top: -4px;
  }

  .how__it--works-content-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .how__it--works-button {
    width: 100%;
  }
  
}