.designer-quote-section {
  background-color: #4e667e;
  padding: 80px 20px;
  color: #fff;
  text-align: center;
}

.quote-wrapper {
  max-width: 956px;
  margin: 0 auto;
}

.quote-heading {
  margin-bottom: 24px;
  font-family: 'brandon';
  font-size: 24px;
  line-height: 21.6px;
  letter-spacing: 2px;
  vertical-align: middle;
  font-weight: bold;
}

.quote-text {
  margin-bottom: 24px;
  font-family: louize;
  font-weight: 500;
  font-size: 42px;
  line-height: 54.6px;
  letter-spacing: 0;
  text-align: center;
  text-transform: unset;
}

.author {
  position: relative;  
  color: #FADD9D;
  font-weight: 450;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
}

.author:before {
  content: '';
  
}

.author span {
  margin: 0 8px;
}

.signature-image img {
  margin-top: 20px;
  max-width: 180px;
  height: auto;
}