.designer__quote--section {
  background-color: var(--blue);
  padding: 80px 0px 40px;  
}

.quote__wrapper {
  max-width: 956px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}

.quote__heading {
  margin-bottom: 24px;
  font-family: 'brandon';
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 2px;
  vertical-align: middle;
  font-weight: bold;
}

.quote__text {
  margin-bottom: 24px;
  font-family: louize;
  font-weight: 500;
  font-size: 42px;
  line-height: 54.6px;
  letter-spacing: 0;
  text-transform: unset;
}

.quote__author {
  position: relative;  
  color: #FADD9D;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
}

.quote__author:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 11px;
  bottom: auto;
  width: 100%;
  height: 1px;
  background: #FADD9D;
}

.quote__author span {
  padding: 0 8px;
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  background: var(--blue);
}

.signature__image {
  margin-top: 24px;
}

.signature__image img {  
  max-width: 310px;
  height: auto;
  width: auto;
}

@media (max-width: 767px) {

  .designer__quote--section {
    padding: 48px 0 16px;
  }

  .designer__quote--section .page-width {
    padding: 0 16px;
  }

  .signature__image img {
    max-width: 202px;
  }

  .quote__heading {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .quote__text {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    letter-spacing: 0.2px;
  }
  
}