.Designer_Program_Header h2 {
  margin-bottom: 50px;
}

.Designer_Program_Header {
  margin-bottom: 100px;
}

.form__row-label {
  font-size: 18px;
  line-height: 120%;
  font-family: brandon;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.How_Did_You_Hear {
  margin-top: 50px;
}