.designer__message--thanks {
  padding: 80px 0;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.designer__message--thanks .page-width {
  max-width: 100%;
  padding-left: 80px;
  padding-right: 0;
}

.designer__message--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}

.designer__message--text {
  flex: 1;
  padding: 107px 56px;
  background-color: var(--beige-secondary);
  border-radius: 6px;
  max-width: 472px;
}

.designer__message--text .title {
  color: var(--gold-secondary--dark);
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2px;
}

.designer__message--text .separator {
  width: 100%;
  height: 0.75px;
  background-color: var(--gold);
  margin-bottom: 0;
}

.designer__message--text .description {
  color: var(--blue-secondary);
  margin-top: 40px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;

}

.designer__message--image-wrapper {
  flex: 1;
  position: relative;
}

.designer__message--image-wrapper .image__container {
  position: relative;
  width: 100%;
}

.designer__message--image-wrapper .image__container img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.designer__message--image-wrapper .image__container .overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 19.43px;
  line-height: 25.91px;
  letter-spacing: 0.2px;
  text-align: center;

}

@media (max-width: 767px) {
  
  .designer__message--container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .designer__message--text, .designer__message--image-wrapper {
    padding: 10px;
    margin-top: 20px;
  }

  .image__container {
    margin: 0 auto;
  }
  
}