.newsletter {
  padding: 60px 0;
}

.newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.newsletter__wrapper:not(.color-background-1) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.newsletter.center {
  text-align: center;
}

/*================ Klaviyo embed ================*/

.newsletter .kl-private-reset-css-Xuajs1 input[type=email] {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  padding-left: 0 !important;
  font-family: brandon !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 130% !important;
  border-color: rgb(84, 107, 130) !important;
  color: rgb(84, 107, 130) !important;
}

.newsletter .kl-private-reset-css-Xuajs1 input[type=email]::placeholder {
  font-family: brandon !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 130% !important;
  color: rgb(84, 107, 130) !important;
}

.newsletter .go1920118604.go1920118604.go1920118604:hover {
  border-color: rgb(84, 107, 130) !important;
  color: rgb(84, 107, 130) !important;
}

.newsletter .kl-private-reset-css-Xuajs1 button {
  padding: 0 !important;
  text-align: right !important;
  text-decoration: underline !important;
  text-underline-offset: 2px;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  font-family: brandon !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 120% !important;
  letter-spacing: 2px !important;
  height: 37px !important;
  border-color: rgb(84, 107, 130) !important;
}

.newsletter .kl-private-reset-css-Xuajs1 p,
.newsletter .kl-private-reset-css-Xuajs1 p span {
  font-family: brandon !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 130% !important;
}

@media screen and (max-width: 768px) {
  
  .footer .kl-private-reset-css-Xuajs1 input[type=email] {
    font-size: 14px !important;
  }
  
  .footer .kl-private-reset-css-Xuajs1 input[type=email]::placeholder {
    font-size: 14px !important;
  }

  .footer .kl-private-reset-css-Xuajs1 p,
  .footer .kl-private-reset-css-Xuajs1 p span {
    font-size: 14px !important;
  }

  .newsletter {
    padding: 10px 30px;
  }
  
  .newsletter .newsletter__wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
}

@media screen and (min-width: 769px) {
  .newsletter--narrow .newsletter__wrapper,
  .newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
    margin-top: calc(5rem + var(--page-width-margin));
    margin-bottom: calc(5rem + var(--page-width-margin));
  }

  .newsletter__wrapper:not(.color-background-1) {
    padding-top: calc(5rem + var(--page-width-margin));
    padding-bottom: calc(5rem + var(--page-width-margin));
  }
}

@media screen and (min-width: 769px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 769px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
