#shopify-section-porter-landing-header {
  background: transparent;
}

#shopify-section-porter-landing-header.animate {
  transition: transform 0.15s ease-out;
}

.template__porter-landing main#MainContent {
  padding-top: 0;
}

.header--inner {
  padding: 16px;
}