.colorways__section {
  padding: 80px 0;
}

.colorways__section .page-width {
  max-width: 1440px;
  margin: 0 auto;
}

.colorways__section--title {
  font-weight: 500;
  font-size: 58px;
  line-height: 64px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 31px;
  color: var(--blue-secondary);
}

.colorways__grid:not(.colorways__slider) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 24px;
}

.colorway__item figure {
  margin: 0;
  line-height: 0;
}

.colorway__item figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.colorway__item--content {
  padding: 16px;
}

.color__size--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorway__name {
  margin-top: 0;
  font-family: louize;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: var(--blue-secondary);
  display: flex;
  align-items: center;
  gap: 12px;
}

.colorway__name .color__image {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.colorway__name .color__image img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.colorway__size {
  font-size: 16px;
  line-height: 20px;
  color: var(--blue-secondary);
  font-family: louize;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: right;
}

.colorway__size span {    
  font-size: 18px;
  line-height: 24px;  
  display: block;
}

.colorway__note {
  font-size: 16px;
  line-height: 20px;
  color: var(--blue-secondary);
  font-family: louize;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 16px 0 0;
}

.colorways__section--button {
  margin-top: 24px;
  text-align: center;
}

.text__button {
  padding: 19px 0;
  color: var(--blue-secondary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .4px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--blue-secondary);
}

.text__button:hover {
  color: var(--blue); 
  border-bottom-color: var(--blue);
}

.text__button span + span {
  line-height: 0;
}

@media screen and (min-width: 768px) {

  .colorways__grid.colorways__slider .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 24px;
  }
  
}

@media screen and (max-width: 1023px) {

  .colorway__name {
    font-size: 22px;
    line-height: 30px;
    gap: 8px;
  }

  .colorway__name .color__image {
    width: 32px;
    height: 32px;
  }

  .colorway__item--content {
    padding: 10px 0;
  }

  .colorways__grid:not(.colorways__slider) {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {

  .colorways__section {
    padding: 40px 0;
  }

  .colorways__grid.colorways__slider {
    margin: 0 -16px;
    padding-bottom: 24px;
  }

  .colorways__slider .swiper-pagination {
    bottom: 0;
  }

  .colorways__slider .swiper-pagination-bullet {
    background: #AC9FA2;
    border: none;
    transform: none;
    border-radius: 50%;
    max-width: 8px;
    max-height: 8px;
    margin: 0 3px !important;
  }

  .colorways__slider .swiper-pagination-bullet-active {
    background: #30383D;
  }

  .colorways__slider .swiper-pagination-bullet-active:after {
    display: none
  }

  .colorways__grid.colorways__slider .colorway__item--content {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .colorways__section .page-width {
    padding: 0 16px;
  }

  .colorways__section--title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .colorways__grid:not(.colorways__slider) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .colorway__item {
    width: 100%;
  }

  .colorway__name {
    font-size: 32px;
    line-height: 40px;
  }

  .colorway__note {
    display: none;
  }

  .colorways__section--button {
    margin-top: 16px;
  }

  .colorway__size span {    
    font-size: 14px;
  }
  
}