.finer__details--section {
  padding: 80px 0;
}

.finer__details--section .page-width {
  max-width: 1600px;
  padding: 0 80px;
}

.finer__details--content-wrapper {
  display: flex;
  gap: 64px;
  width: 100%;
}

.finer__details--left {
  flex: 1 1 50%;
  position: relative;
}

.finer__details--video-wrapper {
  padding-bottom: 100%;
  position: relative;
}

.finer__details--left video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.finer__details--right {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3e4c59;
}

.finer__details--main-title {
  color: var(--blue-secondary);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 58px;
  line-height: 64px;
  letter-spacing: 0.2px;
}

.finer__details--subtitle {
  margin-bottom: 48px;
  color: var(--blue);
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.2px;
  max-width: 600px;
}

.finer__details--right .feature-list {
  border-bottom: 0.5px solid var(--blue);
}

.finer__details--right .feature-item {
  margin-bottom: 64px;
}

.finer__details--right .feature-item .feature-title {
  color: var(--blue-secondary);
  margin-bottom: 8px;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  padding-left: 24px;
  text-transform: unset;
}

.finer__details--right .feature-item .feature-title:before {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background: var(--blue);
  left: 0;
  right: auto;
  top: 11px;
  bottom: auto;
  transform: rotate(45deg);
}

.finer__details--right .feature-item .feature-description {
  color: var(--blue-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

@media (min-width: 768px) {
  
  .finer__details--left-header {
    display: none;
  }

  .mobile__image--layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-top: 80px;
  }

  .mobile__image--layout img {  
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
}

@media (min-width: 992px) {
  
  .finer__details--content-wrapper.content__image--second {
    flex-direction: row-reverse;
  }
  
}

@media (max-width: 1199px) {

  .finer__details--content-wrapper {
    gap: 40px;
  }  

  .finer__details--main-title {
    font-size: 32px;
    line-height: 40px;
  }

  .finer__details--subtitle {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 48px;
  }

  .finer__details--right .feature-item {
    margin-bottom: 48px;
  }
  
}

@media (max-width: 991px) {

  .finer__details--section .page-width {
    padding: 0 16px;
  }

  .finer__details--right .finer__details--main-title,
  .finer__details--right .finer__details--subtitle {
    display: none
  }

  .finer__details--subtitle {
    margin-bottom: 24px;
    color: var(--blue-secondary);
  }

  .finer__details--video-wrapper {
    margin: 0 -16px;
  }

  .finer__details--right .feature-list {
    margin-bottom: 16px;
  }

  .finer__details--section {
    padding: 40px 0;
  }
  
  .finer__details--content-wrapper {
    flex-direction: column;
    gap: 24px;
  }

  .finer__details--right .feature-item .feature-title {
    padding-left: 20px;
  }
  
}

@media (max-width: 767px) {

  .mobile__image--layout {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }

  .finer__details--image img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .finer__details--image:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }

  .finer__details--right .feature-item .feature-description {
    line-height: 26px;
  }
  
}