.section__step--right {
  padding: 60px 20px;
}

.section__step--right .page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.section__step--right-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  padding: 40px;
  gap: 48px;
}

.section__step--right .box__content {
  flex: 0 0 calc(50% - 24px);
  max-width: calc(50% - 24px);
}

.section__step--right .box__content h2 {
  color: var(--blue-secondary);
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2px;
}

.section__step--right .box__content .text {
  margin-bottom: 40px;
  font-weight: 390;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--blue-secondary);
}

.section__step--right .box__content .text p + p {
  margin: 24px 0 0; 
}

.section__step--right .box__content .text strong {
  font-weight: 450;
}

.section__step--right .button {
  display: inline-block;
  background-color: #d3a852;
  color: #1a1a1a;
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border: none;
  transition: background-color 0.3s ease;
}

.section__step--right .button:hover {
  background-color: #b99045;
}

.section__step--right .button .arrow {
  margin-left: 8px;
}

.section__step--right .box__image {
  flex: 0 0 calc(50% - 24px);
  max-width: calc(50% - 24px);
}

.section__step--right .box__image img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  
  .section__step--right .section__step--right-wrapper {
    flex-direction: column;
    gap: 24px;
  }
  
  .section__step--right .box__content, .section__step--right .box__image {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
}