.grand__entrance--section {
  padding: 80px 0;
}

.grand__entrance--section .page-width {
  max-width: 1440px;
  margin: 0 auto;
}

.grand__entrance--section-header {
  padding: 32px 0;
}

.grand__entrance--section .heading {
  font-size: 64px;
  line-height: 72px;
  font-weight: 500;
  color: var(--blue-secondary);
  margin-bottom: 32px;
  letter-spacing: 0.2px;
}

.grand__entrance--section .heading span {
  color: var(--blue);
}

.grand__entrance--section .description {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
  color: var(--blue-secondary);
  letter-spacing: 0.2px;
}

.grand__entrance--section .sub-heading {
  font-size: 40px;
  line-height: 48px;
  color: var(--blue);
  margin-bottom: 0;
  letter-spacing: 0.2px;
}

.grand__entrance--section .divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: var(--blue);
  margin: 0;
}

.grand__entrance--image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 64px;
}

.grand__entrance--image-grid-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex: 1;
}

.grand__entrance--image-item {
  position: relative;
  flex: 1.274;
}

.grand__entrance--image-item figure {
  margin: 0;
}

.grand__entrance--image-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.grand__entrance--image-item .caption {
  font-size: 24px;
  line-height: 28px;
  color: var(--blue-secondary);
  letter-spacing: 0.2px;
  padding: 24px;
}

@media (max-width: 768px) {
  
  .grand__entrance--image-grid {
    flex-direction: column;
  }
  
  .grand__entrance--image-item {
    width: 100%;
  }
  
}