.Related_Article_Wrapper {
  display: flex;
  align-items: center;
  column-gap: 0;
  row-gap: 0;
  margin: 0 -10px;
}

.Related_Article {
  background: #EEEFEF;
}

.blog-articles__article {
  flex: 0 0 33.3%;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {

  .blog-articles__article {
    flex: 0 0 50%;
    padding: 0 7.5px;
  }

  .blog-articles__article:last-child {
    display: none;
  }

  .Related_Article .heading-with-accents .h2 {
    padding: 0 20px;
  }

  .Related_Article .heading-with-accents {
    margin: 0 0 30px;
  }

  .Related_Article_Wrapper {
    margin: 0 -7.5px;
  }

}