@media screen and (min-width: 1025px) {
  .article-template .page-width {
    padding: 0 205px;
  }
}
.article-template {
  margin: 0 0 0;
}

.article-template__header {
  margin: 0 auto;
  text-align: center;
  background: #546B82;
}

.Article_Header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 50px 0;
  margin: 0 auto;
  flex-wrap: wrap;
}

.article-template__date {
  margin: 0 0 20px;
}

.article-template__title {
  margin: 0;
  color: #ffffff;
}

.article-template__image-container {
  max-width: 900px;
  margin: 0 auto;
}

.article-template__image {
  /* padding-bottom: 60%; */
  aspect-ratio: 1.01/1;
  position: relative;
  flex: 0 0 50%;
}

.article-template__content {
  max-width: 820px;
  margin: 0 0;
  padding: 132px 0 50px;
}

.Article_Title {
  flex: 0 0 50%;
  text-align: left;
  padding-right: 27px;
}

.article-template  .rte blockquote {
  font-size: 42px;
  font-family: 'louize';
  font-weight: 500;
  margin: 50px 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

.article-template .rte h3 {
  margin: 0;
}

.article-template .rte p {
  margin: 0 0 15px;
}

.article-template  .rte > span {
  margin: 15px 0;
  display: inline-block;
}

.Article_Carousel {
  padding-bottom: 0 !important;
}

.article-template .rte p span {
  margin: 0;
}

.article-template .rte ul,
.article-template .rte ol {
  padding-left: 40px;
  margin: 0;
}

.article-template .rte img {
  margin: 25px 0;
  max-width: 100%;
}

.article-template .rte img:not([style]) {
  width: calc(50% - 10px);
}
.article-template .rte img:not([style]) + img:not([style]) {
  margin-left: 16px;
}

.article-template .rte img[style*="float"] {
  margin-top: 0;
}

.article-template .rte img[style*="float: left"] {
  margin-right: 10px;
}

.article-template .rte img[style*="float: right"] {
  margin-left: 10px;
}

@media screen and (max-width: 425px) {
  .article-template .rte img[style*="float"] {
    float: none !important;
  }
}

.article-template .rte video {
  width: 100%;
  margin: 25px 0;
}

.article-template .rte p:last-child {
  margin-bottom: 0;
}

.article-template table {
  clear: both;
  display: block;
  outline: none;
  border: none;
}

.article-template table td {
  border: none;
  padding: 0;
  display: block;
}

@media screen and (max-width: 768px) {
  
  .Article_Header {
    padding: 20px 0 50px;
  }

  .article-template__image {
    flex: 0 0 100%;
    padding-bottom: 100%;
  }
  
  .Article_Title {
    flex: 0 0 100%;
    padding: 30px 20px 0;
    order: 2;
  }

  .article-template__content {
    padding: 90px 0 0;
  }

  .article-template .rte ul,
  .article-template .rte ol {
    padding-left: 30px;
  }

  .article-template .rte blockquote {
    font-size: 24px;
    margin: 30px 0 30px;
  }

  .article-template .rte img {
    margin: 15px 0;
  }

}