.product-section {
  background: var(--beige-secondary);
}

.product {
  display: grid;
  grid-template-columns: minmax(0, .6fr) minmax(0, .4fr);
  gap: 125px;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .product {
    display: block;
  }
}

/*================ Media ================*/
.product__media-wrapper { 
  display: grid;
  grid-template-columns: 53px minmax(auto, 1fr);
  grid-template-areas: 'thumbnails images';
  column-gap: 10px;
}

.product__media-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
}

.product__media-thumbnails .swiper-slide,
.product__zoom-thumbnails .swiper-slide {
  height: auto;
  border: 3px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .3s ease;
}

.product__zoom-thumbnails .swiper-slide {
  border: 1px solid white;
}

.product__media-thumbnails .swiper-slide img,
.product__zoom-thumbnails .swiper-slide img {
  opacity: 1;
  transition: opacity .3s ease;
}

.product__media-thumbnails .swiper-slide.swiper-slide-thumb-active {
  border-color: var(--gold);
}

.product__zoom-thumbnails .swiper-slide.swiper-slide-thumb-active {
  border: 3px solid var(--gold);
}

.product__media-thumbnails .swiper-slide.swiper-slide-thumb-active img,
.product__zoom-thumbnails .swiper-slide.swiper-slide-thumb-active img {
  opacity: .7;
}

.product__media-list .swiper-wrapper {
  height: unset;
}

.product__media {
  padding-bottom: 100%;
  position: relative;
}

.product__media-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  width: auto;
}

.pin-button,
.zoom-button {
  display: block;
  color: var(--gold);
  width: 46px;
  aspect-ratio: 1/1;
  background: white;
  text-align: center;
  vertical-align: middle;
  padding: auto 14px;
  box-sizing: border-box;
  border: 2px solid var(--gold);
  border-bottom: none;
}

.pin-button svg,
.zoom-button svg {
  height: 100%;
  vertical-align: middle;
}

.product__media-buttons > *:last-child {
  border-bottom: 2px solid var(--gold);
}

/* product zoom */

/* Zoom Popup */
.product__zoom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

.product__zoom.open {
  visibility: visible;
  opacity: 1;
}

.product__zoom-slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
  position: relative;
}

.product__zoom .product__media {
  padding-bottom: 100vh;
}

.product__zoom .product__media img {
  object-fit: cover;
}

.product__zoom-button {
  width: unset;
  height: unset;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.product__zoom-button::after {
  content: none;
}

.product__zoom-button.swiper-button-prev {
  left: 0;
}

.product__zoom-button.swiper-button-next {
  right: 0;
}

.close-zoom {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 26px;
  height: 26px;
  z-index: 301;
  color: white;
}

.close-zoom svg {
  width: 100%;
  height: 100%;
  display: block;
}

.product__zoom-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 53px;
  height: 100%;
  z-index: 301;
}

.product__media-thumbnails-zoom {
  width: 100%;
  height: 100%;
}

.product__zoom-thumbnails .product__media {
  padding-bottom: 100%;
}

/*================ Info ================*/

.product__price-reviews-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 13px;
}

.product__description {
  margin-top: 20px;
}

/* SWATCHES */

.product__swatches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  margin-top: 23px;
}

.product__swatch {
  width: 47px;
  height: 47px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease;
  outline: 2px solid transparent;
  border-radius: 50%;
  outline-offset: 3px;
  box-sizing: border-box;
  position: relative;
}

.product__swatch:focus {
  outline: 1px solid var(--blue);
}

.product__active-swatch {
  outline-color: var(--gold);
}

.product__active-swatch:after,
.product__swatch:not(.product__active-swatch):hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--beige-secondary);
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.product__swatch.hidden {
  opacity: 0;
}

/* Stamped styles */

.stamped-badge-caption {
  color: var(--gold-secondary--dark);
  font-family: brandon;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding: 0 6px;
  text-transform: uppercase;
  text-decoration: underline;
}

.stamped-badge-caption:before {
  content: "(";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.stamped-badge-caption:after,
.stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
  content: ")" !important;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.fa-star, .fa-star-checked, .fa-star-half-o, .fa-star-o, .stamped-fa-star, .stamped-fa-star-checked, .stamped-fa-star-half-o, .stamped-fa-star-o {
  color: var(--gold-secondary--dark);
}

/* Quantity and ATC */

.product__quantity-atc-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--gold);
  padding: 5px;
  margin-top: 30px;
}

.product-form__buttons {
  width: 100%;
}

.product-form__submit.button {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.product-form__submit.button .price {
  color: white;
}

/* afterpay */

#afterpay-wrapper {
  display: block;
  margin-top: 20px;
}

afterpay-placement, .afterpay-paragraph {
  color: var(--blue);
  text-align: center;
  font-family: brandon;
  font-size: 11px;
  line-height: 13.2px;
  font-weight: 500;
}