.designer-spotlight {
  padding: 80px 0;
  background-color: #546B82;
}

.designer-spotlight__container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}