.swiper-pagination {
  position: relative;
  margin-top: 16px;
}

.slider-directional {
  display: flex;
  justify-content: center;
}

.slider-directional .swiper-button-next,
.slider-directional .swiper-button-prev {
  position: relative;
}

.list__container {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.list__container-item {
  display: flex;
  gap: 16px;
}

.list__container-item .list-number {
  align-self: center;
  font-family: louize;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #D2B066;
}

.list__container-item .title-text {
  font-family: brandon;
  font-size: 20px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #D2B066;
}
