.faq {
  background: var(--light-gray);
}
.faq__question > h3{text-transform: none;letter-spacing: 0.3px;}

.faq + .faq.shopify-section.with-spacing > div:first-of-type {
  padding-top: 0;
}

.faq__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-auto-rows: auto;
  column-gap: 21px;
  margin-top: 38px;
}

.faq__column > .faq__item:first-child {
  border-top: 1px solid var(--blue);
}

.faq__item {
  padding: 30px 0;
  border-bottom: 1px solid var(--blue);
}

.faq__question {
  font-weight: 600;
  font-family: brandon;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;
  width: 100%;
  text-align: left;
}

.faq__item svg{
  width: 16px;
  height: 16px;
}

.faq__item svg line {
  transform-origin: center;
  transition: all .3s ease;
  stroke-width: 2px;
}

.faq__item svg path {
  stroke-width: 2px;
}

.faq__item.active svg line {
  transform: rotate(90deg);
}

.faq__content {
  display: none;
  padding-top: 30px;
}

.faq__content a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {

  .faq.with-spacing > div:first-of-type {
    padding-top: 32px;
  }
  
  .faq__wrapper {
    display: block;
    margin-top: 30px;
  }

  .faq__column:not(:first-of-type) > .faq__item:first-child {
    border-top: transparent;
  }
  
}

/*******************************
Designer page faq css start
********************************/

.template__designer-program .faq {
  background: var(--beige-secondary);
}

.template__designer-program .shopify-section.with-spacing>div:first-of-type {
  padding-top: 80px;
  padding-bottom: 80px;
}

.template__designer-program .faq__inner {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.template__designer-program .faq__wrapper {
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  column-gap: 0;
  margin-top: 64px;
}

.template__designer-program .faq__column:first-child .faq__item:last-child {
  border-bottom: none; 
}

.template__designer-program .faq__heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: center;
}

.template__designer-program .faq__item {
  padding: 32px 0;
}

.template__designer-program .faq__question {
  line-height: 24px;
}

@media (max-width: 768px) {

  .template__designer-program .shopify-section.with-spacing>div:first-of-type {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .template__designer-program .faq__wrapper {
    margin-top: 40px;
  }

  .template__designer-program .faq__column:first-child .faq__item:last-child {
    border-bottom: 1px solid var(--blue);
  }

  .template__designer-program .faq__item {
    padding: 24px 0;
  }

  .template__designer-program .faq__question {
    line-height: 20px;
    gap: 3px;
  }

  .template__designer-program .faq__heading {
    font-size: 32px;
    line-height: 40px;
  }

}

/*******************************
Designer page faq css end
********************************/
