.shop-other-sizes {
  background: var(--beige-secondary);
  padding: 50px 0;
}

.shop-other-sizes__inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 27px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.shop-other-sizes__item {
  position: relative;
}

.shop-other-sizes__heading {
  max-width: 280px;
}

@media screen and (max-width: 1024px) {
  .shop-other-sizes {
    padding: 0 0 50px;
  }

  .shop-other-sizes__inner {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-auto-rows: auto;
    grid-template-areas:
    'header header'
    'left right';
    column-gap: 12px;
    row-gap: 30px;
  }

  .shop-other-sizes__heading {
    grid-area: header;
    text-align: center;
    width: 240px;
    margin: auto;
  }

  .shop-other-sizes__item {
    align-self: baseline;
  }

  .shop-other-sizes__item:first-of-type {
    grid-area: left;
  }

  .shop-other-sizes__item:last-of-type {
    grid-area: right;
  }

  .shop-other-sizes .divider {
    width: 100%;
  }
}