.product-carousel__inner {
  padding-bottom: 100px !important;
}

.product-carousel__heading {
  margin-bottom: 30px;
  text-align: center;
}

.product-carousel__heading h2 {
  font-size: 48px;
}


.product-carousel__container {
  position: relative;
}

.product-carousel__container .swiper-wrapper {
 padding-bottom: 0;
 padding-top: 65px;
}

.product-carousel__pagination.swiper-pagination {
 top: 0;
 bottom: unset;
}

.product-carousel__new {
  padding-bottom: 60px !important;
}
/* 
#shopify-section-template--16240883793983__product_carousel_new_aKw9LG .product-carousel__new {
  padding-bottom: 40px !important;
}
 */
.product-carousel__new .product-carousel__container .swiper-wrapper {
  padding-top: 0;
  padding-bottom: 50px;
}

.product-carousel__container-new {
  margin-left: 60px;
  margin-right: 60px;
  width: calc(100% - 120px) !important;
}

.product-carousel__new .product-carousel__pagination.swiper-pagination {
 display: none;
}

.product-carousel__item {
 width: 295px;
 height: auto;
}

.product-carousel .swiper-button-next:after,
.product-carousel .swiper-button-prev:after {
  fill: var(--gold);
}

.shop-all-btn {
  background: #896A28;
  color: #FFF;
  border: 0px;
  padding: 8.8px 16px 8px;
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-carousel__slider .product-card {
  gap: 0;
}

.product-carousel__slider .product-card__swatches {
  margin: 0 0 10px;
}

.product-carousel__slider .product-card__title .h3,
.product-carousel__slider .product-card__title .body {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1.5px;
}

.product-carousel__slider .product-card__price {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .5px;
}

.product-carousel__slider .product-card__price .sale-price {
  color: #7d3c3c;
  font-weight: 800;
}

.product-carousel__slider .product-card__image-label {
  padding: 7px 10px !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--blue);
  color: #fff;
  padding: 7px 14px;
  font-weight: 500;
  text-transform: uppercase;
  bottom: auto;
}

.product-carousel__slider .product-carousel__heading h2 {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .product-carousel__new .product-carousel__pagination.swiper-pagination {
   top: unset;
   bottom: 35px;
   display: flex;
  }
  
  .product-carousel__container .swiper-wrapper {
    padding-top: 50px;
    padding-left: 20px;
   }

  .product-carousel__inner {
    padding-bottom: 20px !important;
  }

  .product-carousel__heading {
    margin-bottom: 20px;
  }

  .product-carousel__heading h2 {
    font-size: 32px;
  }

  .product-carousel .swiper-button-next,
  .product-carousel .swiper-button-prev {
    top: 125px;
  }

  .product-carousel .product-carousel__slider .swiper-button-next,
  .product-carousel .product-carousel__slider .swiper-button-prev {
    top: 50% !important;
  }

  .product-carousel .swiper-button-next {
    right: 20px;
  }
  .product-carousel .swiper-button-prev {
    left: 18px;
  }

  .product-carousel__container-new {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px) !important;
  }

  .product-carousel__new .product-carousel__container .swiper-wrapper {
    padding-top: 0;
    padding-bottom: 100px;
  }

  .product-carousel__slider .product-card__title .h3 {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .product-carousel__slider .product-card__price {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
  }

  .product-carousel__slider .product-card__link {
    margin-top: auto;
    font-weight: 600;
  }

  .product-carousel__slider .product-carousel__container {
    padding-top: 20px;
  }

}