.categories-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.categories-grid__item img {
  width: 100%;
}

.categories-grid__item {
  position: relative;
}

.categories-grid__item:hover .categories-grid__text {
  opacity: 1;
}

.categories-grid__text {
  position: absolute;
  background: #546B82;
  width: 100%;
  font-weight: 420;
  font-size: 24px;
  line-height: 28px;
  padding: 16px;
  color: white;
  opacity: 0.9;
}

@media screen and (max-width:768px){
  .categories-grid__container {
    grid-template-columns: 1fr 1fr;
    gap: 8px 8px;
  }

  .categories-grid__text {
    font-size: 18px;
  }
}