.hero {
  min-height: 650px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(625px, .44fr) 1fr;  grid-template-areas: "content media"
}

.hero__element {
  position: absolute; 
  right: 20px;
  bottom: 20px;
  width: 138px;
  height: auto;
}

.hero__media {
  position: relative;
  overflow: hidden;
}

.hero__content {
  background: var(--blue);
  color: white;
  padding: 20px;
}

.hero__container {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 70px;
}

.hero__title {
  margin: 0 0 40px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 550px;
  }
}