.logo-marquee {
  min-width: 100%;
  padding: 40px 0 10px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
}

.logo-marquee.no-bg {
  margin: 50px 0;
  padding: 0;
}

.logo-marquee__container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* mix-blend-mode: multiply; */
  animation: marquee 35s linear infinite;
}

.logo-marquee__header {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
}

.logo-marquee__item {
  padding-right: 100px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-marquee__image {
  width: 150px;
  height: 71px;
  position: relative;
  display: block;
}

.logo-marquee__image img {
  object-fit: contain;
  object-position: center;
  display: inline-block;
  vertical-align: middle
}

@media only screen and (max-width: 768px) {
  .logo-marquee {
    padding: 30px 0 10px;
  }

  .logo-marquee.no-bg {
    margin: 30px 0;
    padding: 0;
  }

  .logo-marquee__container {
    animation: marquee 45s linear infinite;
  }

  .logo-marquee__item {
    padding-right: 40px;
  }

  .logo-marquee__image {
    width: 130px;
    height: 50px;
  }

  .logo-marquee__image img {
    /* max-height: 20px; */
    width: auto;
  }
}