.featured-articles__inner {

}

.featured-articles__heading {

}

.featured-articles__article-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 20px;
  overflow-x: scroll;
}

.blog-articles__article {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .blog-articles__article {
    width: 100%;
    min-width: 158px;
  }
}