.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .main-page-title {
    margin-bottom: 0;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.Page_Rte h1,
.Page_Rte h2  {
  margin-bottom: 30px;
}

.Page_Rte h3 {
  margin-bottom: 20px;
}

.Page_Rte h4,
.Page_Rte h5  {
  margin-bottom: 10px;
}

.Page_Rte h6  {
  margin:0 0 10px;
}

.rte a  {
  color: var(--gold-secondary);
}

.page-width--narrow.Page_Rte {
  padding: 70px 95px 0;
}

.rte ol {
  padding-left: 2rem;
}

.Page_Header_Inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Page_Header {
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Page_Header_Inner h1 {
  color: #546B82;
  font-family: louize;
}

.template-page .header__menu {
  display: none;
}

@media screen and (max-width: 1024px) {

  .page-width--narrow.Page_Rte {
    padding: 70px 40px 0;
  }
  
}

@media screen and (max-width: 767px) {

  .page-width--narrow.Page_Rte {
    padding: 40px 20px 0;
  }

  .rte ul {
    padding-left: 1rem;
  }

}