.featured-product-headline {
    text-align: center;
    margin: 40px 0 0px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.featured-product-headline br {
    display: none;
}

@media screen and (max-width: 900px) {
  .featured-product .product__media-list {
      padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .featured-product-headline {
      margin: 24px 0 16px;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0.02em;
  }

  .featured-product .swiper-pagination {
    bottom: -5px;
  }

  .featured-product-headline br {
      display: block;
  }

  .featured-product .product__quantity-atc-wrapper {
    width: 100%;
    justify-content: center;
  }
}