.page-hero {
  background: var(--off-white);
  padding: 50px 0;
}

.page-hero__heading {
  text-align: center;
  max-width: 810px;
  margin: auto;
  padding: 0 0 30px;
}

.page-hero__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
  column-gap: 30px;
}

.page-hero__icon-wrapper {
  flex: 1;
}

.page-hero__icon-image {
  width: 100%;
  max-width: 86px;
  margin: auto;
}

.page-hero__icon-image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page-hero__blocks {
    column-gap: 10px;
  }
}

.page-hero__icon-wrapper {
  text-align: center;
}
 .page-hero__icon-label {
  padding: 0 10px;
 }

 @media screen and (max-width: 425px) {
  .page-hero__blocks {
    flex-wrap: wrap;
  }
 }