.images-with-text {
  padding: 24px;
  background: var(--background);
  color: var(--text_color);
}

.images-with-text .images-container {
  max-width: 830px;
  margin: auto;
}

.images-with-text .images-wrapper {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.images-with-text .images-text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.images-with-text .images-container .images-text-content .images_text {
  font-family: brandon;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: start;
}

@media(max-width: 990px) {
  .images-with-text .images-wrapper{
    gap: 5px;
  }
}

@media (max-width: 767px){
  .images-with-text .images-wrapper{
    gap: 32px;
    flex-wrap: wrap;
  }

  .images-with-text{
    padding: 40px 24px;
  }

  .images-text-content {
    flex-direction: column;
    max-width: 140px;
    gap: 0;
  }

  .images-with-text .images-container .images-text-content .images_text {
    text-align: center;
  }
}