.see-it-in-action__inner {
  max-width: 1100px;
  margin: auto;
}
.see-it-in-action__header {
  text-align: center;
  margin-bottom: 70px;
}

.see-it-in-action__link {
  display: block;
  margin-top: 30px;
}

/* see-it-in-action TABS */
.see-it-in-action__tabs-wrapper {
  margin-top: 20px;
}

.see-it-in-action__tabs-buttons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid var(--blue);
  z-index: 1;
  position: relative;
}

.see-it-in-action__tabs-content {
  position: relative;
  z-index: 0;
}

.see-it-in-action__tabs-buttons button {
  flex: 1;
  font-family: brandon;
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
  position: relative;
  opacity: .6;
  opacity: 1;
  color: #5B4D33;
  transition: all .3s ease;
}

.see-it-in-action__tabs-buttons button.active {
  opacity: 1;
  color: var(--blue);
}

.see-it-in-action__tabs-buttons button.active:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--blue);
  transform: translateY(100%);
}

.see-it-in-action__tabs-buttons button.active:after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 10L0.54071 0.25L20.4593 0.249998L10.5 10Z' fill='%23546B82'/%3E%3C/svg%3E%0A");
  bottom: 2px;
  left: 50%;
  height: 13px;
  width: auto;
  transform: translate(-50%, 100%);
}
.see-it-in-action__tabs-item {
  padding-top: 40px;
}

.see-it-in-action__tabs-image {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.see-it-in-action__tabs-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  lefT: 0;
}

.see-it-in-action__tabs-label {
  position: absolute;
  left: 0;
  bottom: 20px;
  background: var(--blue);
  color: white;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {

  .see-it-in-action__header {
    margin-bottom: 30px;
  }
  .see-it-in-action__tabs-buttons button {
    font-size: 9px;
    line-height: 10.8px;
  }

  .see-it-in-action__tabs-buttons button.active:after {
    bottom: -4px;
  }
}

/* Ideas Gallery */

.ideas-gallery {
  background: var(--off-white);
}

.ideas-gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 40px;
}

.ideas-gallery__item {
  position: relative;
  aspect-ratio: 1/1;
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.ideas-gallery__item .see-it-in-action__tabs-image {
  /* padding-bottom: 100%; */
  aspect-ratio: 1/1;

}

/* .ideas-gallery__item[data-index="1"],
.ideas-gallery__item[data-index="6"],
.ideas-gallery__item[data-index="7"],
.ideas-gallery__item[data-index="10"] {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
} */

@media screen and (max-width: 768px) {
  .ideas-gallery__wrapper {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    padding-top: 18px;
  }

  .see-it-in-action__tabs-label {
    position: relative;
  }

  #shopify-section-template--16866362032191__see-in-action {
    display: none;
  }
}