.product-section {
  background: var(--beige-secondary);
  overflow-x: hidden;
  
}

.product {
  display: grid;
  grid-template-columns: minmax(0, .6fr) minmax(0, .4fr);
  gap: 80px;
  padding: 20px 0 50px;
}

@media screen and (max-width: 1100px) {
  .product {
    gap: 25px;
  }
}

@media screen and (max-width: 900px) {
  .product {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .product {
    padding: 10px 0 30px;
  }
}

/*================ Media ================*/
.product__media-wrapper { 
  display: grid;
  grid-template-columns: 53px minmax(auto, 1fr);
  grid-template-areas: 'thumbnails images';
  column-gap: 10px;
}
.product__media-wrapper .aspect-ratio:before{
  z-index: 0;
}

.product__media-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
}

.product__media-thumbnails .swiper-slide,
.product__zoom-thumbnails .swiper-slide {
  height: auto;
  border: 3px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .3s ease;
}

.product__zoom-thumbnails .swiper-slide {
  border: 1px solid white;
}

.product__media-thumbnails .swiper-slide img,
.product__zoom-thumbnails .swiper-slide img {
  opacity: 1;
  transition: opacity .3s ease;
}

.product__media-thumbnails .swiper-slide.swiper-slide-thumb-active {
  border-color: var(--gold);
}

.product__zoom-thumbnails .swiper-slide.swiper-slide-thumb-active {
  border: 3px solid var(--gold);
}

.product__media-thumbnails .swiper-slide.swiper-slide-thumb-active img,
.product__zoom-thumbnails .swiper-slide.swiper-slide-thumb-active img {
  opacity: .7;
}

.product__media-list .swiper-wrapper {
  height: unset;
}

.product__media {
  padding-bottom: 100%;
  position: relative;
}

.product__media video {
  max-width: 100%;
}

.product__media-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  width: auto;
}

.pin-button,
.zoom-button {
  display: block;
  color: var(--gold);
  width: 46px;
  aspect-ratio: 1/1;
  background: white;
  text-align: center;
  vertical-align: middle;
  padding: auto 14px;
  box-sizing: border-box;
  border: 2px solid var(--gold);
  border-bottom: none;
}

.pin-button svg,
.zoom-button svg {
  height: 100%;
  vertical-align: middle;
}

.product__media-buttons > *:last-child {
  border-bottom: 2px solid var(--gold);
}

/* product zoom */

/* Zoom Popup */
.product__zoom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

.product__zoom.open {
  visibility: visible;
  opacity: 1;
}

.product__zoom-slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
  position: relative;
}

.product__zoom .product__media {
  padding-bottom: 100vh;
}

.product__zoom .product__media img {
  object-fit: cover;
}

.product__zoom-button {
  width: unset;
  height: unset;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.product__zoom-button::after {
  content: none;
}

.product__zoom-button.swiper-button-prev {
  left: 0;
}

.product__zoom-button.swiper-button-next {
  right: 0;
}

.close-zoom {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 26px;
  height: 26px;
  z-index: 301;
  color: white;
}

.close-zoom svg {
  width: 100%;
  height: 100%;
  display: block;
}

.product__zoom-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 53px;
  height: 100%;
  z-index: 301;
}

.product__media-thumbnails-zoom {
  width: 100%;
  height: 100%;
}

.product__zoom-thumbnails .product__media {
  padding-bottom: 100%;
}

/*================ Info ================*/

.product__tag {
  margin-bottom: 10px;
}

.product__price-reviews-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 13px;
  margin-top: 10px;
}

.product__price {
 display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.product__price .old-price {
  margin-right: 5px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  opacity: .3;
}

.product__price .old-price + span {
  font-weight: 600;
}


.product__description {
  margin-top: 20px;
  /* max-width: 400px; */
  /* padding-right: 10%; */
}

.product__variant-name {
  margin-top: 10px;
}

.product__variant-name span:first-of-type {
  font-weight: 600;
}

.product__restock-note {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  margin-top: 12px;
}

/* SWATCHES */

.product__swatches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  margin-top: 23px;
}

@media screen and (max-width: 768px) {

  .product__swatches {
    margin-bottom: 20px;
  }
  
}

.product__swatch {
  width: 47px;
  height: 47px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease;
  outline: 2px solid transparent;
  border-radius: 50%;
  outline-offset: 3px;
  box-sizing: border-box;
  position: relative;
}

.product__swatch > span {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.product__swatch:focus {
  outline: 1px solid var(--blue);
}

.product__active-swatch {
  outline-color: var(--gold);
}

.product__active-swatch:after,
.product__swatch:not(.product__active-swatch):not(.product__oos-swatch):hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--beige-secondary);
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.product__swatch.hidden {
  opacity: 0;
}

.product__swatch.product__color-swatch--not-available {
  display: none;
  cursor: not-allowed;
  border: 2px solid var(--blue);
}

.product__swatch.product__color-swatch--not-available span {
  opacity: 0.5;
}

.product__swatch.product__color-swatch--not-available::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  transform: rotate(-45deg);
  transform-origin: center;
}

.other-sizes__wrapper-links.other-sizes__wrapper-links--inner {
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

.other-sizes__wrapper-links.other-sizes__wrapper-links--inner
.other-sizes__button {
  width: 24%;
  max-width: unset;
  flex: unset;
}

.other-sizes__button.other-sizes__button--not-available {
  cursor: not-allowed;
  position: relative;
  overflow: hidden; 
  background-color: #CAD2D3;
  color: #FFFFFF;
  border: 2px solid #CAD2D3;
}

.other-sizes__button--out-of-stock {
  position: relative;
  padding: 20px;
}

.other-sizes__button--out-of-stock .slash {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.other-sizes__button--out-of-stock .slash line {
  stroke: var(--blue);
  stroke-width: 3;     
}

.other-sizes__button.active.other-sizes__button--out-of-stock {
  border: 2px solid #EEEFEF;
}

.other-sizes__button.active.other-sizes__button--out-of-stock .slash line {
  stroke: #EEEFEF;
  stroke-width: 3;     
}

.product-error {
  color: var(--blue);
  font-size: 14px;
  padding: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  transform: translateY(8px);
  transition:
    opacity 0.25s ease,
    visibility 0.25s ease,
    transform 0.25s ease,
    height 0.25s ease,
    padding 0.25s ease;
}

.product-error--column {
  flex-direction: column;
}

.product-error.active {
  padding-top: 16px;
  padding-bottom: 4px;
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.product-error .product-error__message {
  font-weight: 400 !important;
}

.product-error .product-error__link {
  font-weight: 600;
  text-decoration: underline;
}


.product__oos-swatch {
  border: 2px solid var(--blue);
  cursor: not-allowed;
  order: 1;
}

.product__oos-swatch > span {
  opacity: .5;
}

.product__oos-swatch:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  transform: rotate(-45deg);
  transform-origin: center;
  border-radius: 0;
}

.product__oos-notify-wrapper {
  margin-top: 30px;
}

.product__oos-notify-wrapper p {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

.product__oos-notify-wrapper p button{
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  text-decoration: underline;
}

/* Stamped styles */

.rating-reviews {
  width: 100%;
}
.rating-reviews .stamped-main-badge {
  width: 100%;
}

.stamped-badge-caption {
  color: var(--gold-secondary--dark);
  font-family: brandon;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding: 0 6px;
  text-transform: uppercase;
  text-decoration: underline;
}

.stamped-badge-caption:before {
  content: "(";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.product__price-reviews-wrapper .stamped-badge-caption:after,
.product__price-reviews-wrapper .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
  content: ")" !important;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.product__price-reviews-wrapper .fa-star,
.product__price-reviews-wrapper .fa-star-checked,
.product__price-reviews-wrapper .fa-star-half-o,
.product__price-reviews-wrapper .fa-star-o,
.product__price-reviews-wrapper .stamped-fa-star,
.product__price-reviews-wrapper .stamped-fa-star-checked,
.product__price-reviews-wrapper .stamped-fa-star-half-o,
.product__price-reviews-wrapper .stamped-fa-star-o {
  color: var(--gold-secondary--dark) !important;
}

/* Quantity and ATC */

.product__quantity-atc-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
  background: var(--gold);
  padding: 5px 35px 5px 5px;
  margin-top: 20px;
  width: fit-content;

}

.product__quantity-atc-wrapper svg.icon.icon-minus {
  display: inherit;
}

.product__quantity-atc-wrapper svg.icon.icon-plus {
  display: inherit;
}

.product-form__buttons {
  /* width: 100%; */
}

.product-form__submit.button {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.product-form__submit.button .price {
  color: white;
}

/* afterpay */

#afterpay-wrapper {
  display: block;
  margin-top: 20px;
}

afterpay-placement, .afterpay-paragraph {
  color: var(--blue);
  text-align: center;
  font-family: brandon;
  font-size: 11px;
  line-height: 13.2px;
  font-weight: 500;
}

/* PRODUCT TABS */
.product__tabs-wrapper {
  margin-top: 30px;
}

.product__tabs-buttons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid var(--blue);
}

.product__tabs-buttons button {
  flex: 1;
  font-family: brandon;
  color: var(--blue);
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
  position: relative;
}

.product__tabs-buttons button.active:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--blue);
  transform: translateY(100%);
}

.product__tabs-buttons button.active:after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 10L0.54071 0.25L20.4593 0.249998L10.5 10Z' fill='%23546B82'/%3E%3C/svg%3E%0A");
  bottom: -4px;
  left: 50%;
  height: 13px;
  width: auto;
  transform: translate(-50%, 100%);
}

.product__tabs-item {
  padding: 20px 0 10px;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
}

.product__tabs-item p {
  line-height: 140%;
}
.product__tabs-item ul,
.product__tabs-item ol {
  margin: 0;
}

.product__tabs-item li {
  margin: 5px 0;
}

.product__tabs-item a {
  text-decoration: underline;
}

.product__features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product__features-item {
  flex: 1;
  text-align: center;
}

.product__features-item p {
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--blue);
  padding: 0 10px;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .product {
    column-gap: 25px;
  }
}

button[type="add"] > * {
  pointer-events: none;
}

.loading .product-form__input {
  opacity: .3;
    pointer-events: none;
    cursor: not-allowed;
}

.loading {
  cursor: not-allowed;
}

sticky-atc {
  z-index: 5;
  opacity: 0;
  position: fixed;
  transition: all .3s ease;
}

sticky-atc .quantity {
  background: transparent;
}

sticky-atc .quantity > * {
  color: white;
}

sticky-atc .product__quantity-atc-wrapper {
  justify-content: center;
  column-gap: 20px;
  width: 100%;
}

sticky-atc .product-form__buttons {
  width: auto;
}

sticky-atc.show {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
}

sticky-atc .product__quantity-atc-wrapper {
  margin-top: 0;
}

variant-selects {
  margin-top: 40px;
  display: block;
}

.GiftWizard-gift-button {
  margin-bottom: 0;
  margin-right: 0;
  padding: 5px 10px;
}

.button.loading {
  pointer-events: none;
}

/* Giftcard template  */

.giftcard {
  padding-bottom: 50px;
}

.giftcard .product__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.giftcard .product__description {
  max-width: unset;
}

@media screen and (max-width: 900px) {

  .product__media-list {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {

  .product {
    padding: 0 0 50px;
  }

  .product__media-wrapper {
    display: block;
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .close-zoom {
    top: 20px;
    right: 20px;
  }
}

/* Gift card template */

.product-form__buttons.loading .loading-overlay__spinner {
  display: block;
}

.bis-styles {
  padding: 16px 40px;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: brandon;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}


/* Dimension Modal */
 
.dimension_modal {
  position: fixed;
  top: initial;
  left: 0;
  z-index: 9;
  bottom: -100%;
  width: 100%;
}

.dimension_modal.open {
  bottom: 0;
}

.dimension_modal .modal-content {
  margin: 0 auto;
  height: auto;
  padding: 0;
  float: right;
  width: 100%;
  background: #fff;
  padding: 20px;
}

.dimension_modal .close {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  right: 20px;
  margin: 0;
}

.dimension_modal .close button {
  background: transparent;
}

.dimension_modal .close:hover,
.dimension_modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.template-product.open:before {
  content: '';
  background: rgba(30, 30, 30, 0.80);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
}

.dimensions__button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #D0BC94;
  padding: 16px 15px;
  margin: 20px 0;
}

.dimensions__button p {
  color: #546A82;
  font-size: 16px;
  font-weight: 700;
  word-wrap: break-word;
  margin: 0px 0px 0px 18px;
  padding: 0px;
  font-family: brandon, sans-serif;
}

.dimensions__button svg {
  min-width: 38px;
}

.dimensions__button .button {
  background: #546A82;
  color: white;
  font-size: 14px;
  font-family: brandon, sans-serif;
  font-weight: 450;
  word-wrap: break-word;
  padding: 15px 9px 16px 14px;
  width: 80%;
  max-width: 138px;
  margin-left: 10px;
  letter-spacing: normal;
  cursor: pointer;
  line-height: normal;
}

.dimension-modal-header {
  background: #546A82;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0px;
}

.dimension-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F2ED;
}

.dimension-modal-header h6 {
  color: white;
  font-size: 24px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 0;
}

#btnhomeModal2 {
  margin-top: 10px;
  cursor: pointer;
}

#btnhomeModal2 span {
  font-weight: 600;
}
.dimension-modal-body p {
  color: #546A82;
  font-size: 18px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
  padding: 15px 0px 23px;
}

.dimension-modal-body img {
  height: 300px;
  width: 300px;
  padding: 0px 0px 29px 0px;
}

.product__info-container .dimension-wraper {
  display: none;
}

@media (min-width: 500px) {

  .dimension_modal.open {
    top: 50%;
    left: 50%;
    max-width: 428px;
    transform: translate(-50%,-50%);
  }

  .dimensions__button svg {
    min-width: 30px;
    width: 30px;
  }

  .dimensions__button p {
    padding-right: 0px;
    font-size: 14px;
    line-height: 16.88px;
  }

  .dimensions__button {
    padding: 8px 12px;
    align-items: center;
    max-width: 329px;
  }

  .dimensions__button .button {
    font-size: 12px;
    line-height: 16.88px;
    height: 30px;
    padding: 8px 0;
    max-width: 121px;
    width: 100%;
    font-weight: 600;
  }

  .template-product.open:before {
    background: rgba(29, 29, 29, 0.60);
  }

}

@media (max-width: 418px) {

  .dimensions__button {
    padding: 14px 10px;
    margin: 10px 0px;
  }
  
  .dimensions__button svg {
    min-width: 28px;
  }

  .dimensions__button .button {
    font-size: 12px;
    width: 71%;
  }
  
}

@media (max-width: 375px) {

  .dimensions__button p {
    font-size: 13px;
  }
  
}

.other-sizes__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 5px;
  margin-top: 20px;
}

.other-sizes__wrapper--other-collections {
  flex-direction: column;
}

.other-sizes__label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 6px;
}

.other-sizes__button {
  border: 2px solid var(--blue);
  padding: 8px 24px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  white-space: nowrap;
  font-family: brandon;
}

@media screen and (max-width: 768px) {

  .other-sizes__wrapper {
    display: initial;
  }

  .other-sizes__button {
    font-size: 16px;
    padding: 8px 10px;
    height: 64px;
  }

  .other-sizes__dimension {
    font-size: 14px !important;
  }
}

.other-sizes__button.active {
  background: var(--blue);
  color: white;
}

.other-sizes__wrapper-links {
  display: flex;
  gap: 12px;
}

.other-sizes__dimension {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}

.other-size__divider:last-child {
  display: none;
}

.no-quant__button {
  padding: 16px 50px;
}

.other-sizes__button span {
  font-weight: 450 !important;
  line-height: 22px;
  pointer-events: none;
}

.accordion {
  border-bottom: 2px solid var(--blue);
}

.accordion h3 {
  text-transform: unset;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%
}

.accordion-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  display: none;
  transition: all 2s ease-in;
}

.accordion-content .product__tabs-item {
  padding: 0 0 20px;
}

.accordion-content ul {
  padding-left: 20px;
}

.accordion-content.active {
  display: block;
  transition: all 2s ease-in-out;
}

.product-accordion__container {
  margin-top: 25px;
  display: block;
}

.accordion-title svg {
  transform: rotate(0deg);
  transition: 0.3s ease;
}

.accordion-title svg.rotate {
  transform: rotate(-180deg);
  transition: 0.3s ease;
}

.accordion-title[data-id='1'] svg {
  transform: rotate(-180deg);
}

.accordion-title[data-id='1'] svg.rotate {
  transform: rotate(0deg);
}


/* ============ optimized-pdp-fold ============== */

.pdp-optimized .product__tag.gray {
  display: none;
}

.pdp-optimized .product__title.blue {
  font-size: 32px;
  margin-top: 10px;
}

.pdp-optimized .price .h3 {
  font-size: 18px !important;
}

/* .pdp-optimized .other-sizes__label {
  font-size: 18px;
} */

.pdp-optimized .product__swatches {
  margin-top: 0 !important;
}

/* .pdp-optimized .product__variant-name span {
  font-size: 18px;
} */

.pdp-optimized .product__variant-name.value-1 {
  margin-top: 22px !important;
}

.pdp-optimized .product__description.body.blue {
  margin-top: 16px;
  padding-right: unset;
}

.pdp-optimized .product__description.body.blue ul {
  padding-left: 18px;
}

.pdp-optimized .product__price-reviews-wrapper {
  flex-direction: column;
}

.pdp-optimized .jdgm-widget .jdgm-prev-badge__text {
  padding: 0 8px;
}

.pdp-optimized .jdgm-widget .jdgm-prev-badge__stars .jdgm-star {
  color: var(--blue) !important;
  font-size: 80%;
}

.pdp-optimized .jdgm-widget .jdgm-prev-badge__text {
  color: var(--gold-secondary--dark);
  font-family: brandon;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding: 0 6px;
  text-transform: uppercase;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
   .pdp-optimized .product__media-list {
        padding-bottom: 36px;
    }

   .pdp-optimized .swiper-pagination-bullet {
     max-width: 10px;
     max-height: 10px;
   }
}

.small_button_text {
  padding: 14px;
}

.small_button_text span:first-of-type {
  font-size: 16px;
}

.small_button_text .other-sizes__dimension {
  font-size: 14px;
}

.bis-new {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

product-form form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .small_button_text {
    padding: 8px 4px !important;
  }
  
  .small_button_text span:first-of-type {
    font-size: 14px !important;
  }
  
  .small_button_text .other-sizes__dimension {
    font-size: 12px !important;
  }

  .bis-new {
    width: fit-content !important;
  }
}

@media screen and (max-width: 768px) {
  .bis-new {
    font-size: 16px !important;
    width: unset !important;
  }
}

.product__info-wrapper .product__price-reviews-wrapper .price-item.price-item--regular {
  opacity: 0.7;
}