.designer-spotlight {
  padding: 80px 0;
  background-color: #546B82;
}

.designer-spotlight__container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.designer-spotlight__item {
  display: flex;
  align-items: center;
  gap: 60px;
  color: white;
}

.designer-spotlight__item.even {
  flex-direction: row-reverse;
}

.designer-spotlight__content {
  width: 50%;
}

.designer-spotlight__image {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}

.designer-spotlight__title {
  margin: 0 0 10px;
}

.designer-spotlight__subtitle {
  margin: 0 0 80px;
}

.designer-spotlight__text-header {
  margin: 0 0 10px;
}

.designer-spotlight__text {
  margin: 0;
}

.designer-spotlight__divider {
  width: 100%;
  border-bottom: 2px solid #4E6377;
}