.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.Page_Rte h1,
.Page_Rte h2  {
  margin-bottom: 30px;
}

.Page_Rte h3 {
  margin-bottom: 20px;
}

.Page_Rte h4,
.Page_Rte h5  {
  margin-bottom: 10px;
}

.Page_Rte h6  {
  margin:0 0 10px;
}

.page-width.page-width--narrow.Page_Rte {
  padding: 0 95px;
}