.text-media-carousel__inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 625px;
}

.text-media-carousel__color-light,
.text-media-carousel__color-light .text-media-carousel__media-label,
.text-media-carousel__color-light .text-media-carousel__content-wrapper,
.text-media-carousel__color-light .text-media-carousel__content-inner
 {
  --carousel-background: var(--beige-secondary);
  --carousel-color: var(--blue);
}

.text-media-carousel__color-dark,
.text-media-carousel__color-dark .text-media-carousel__media-label,
.text-media-carousel__color-dark .text-media-carousel__content-wrapper,
.text-media-carousel__color-dark .text-media-carousel__content-inner {
  --carousel-background: var(--blue);
  --carousel-color: white;
}

/* Media Content */

.text-media-carousel__media-inner {
  height: 100%;
}

.text-media-carousel__image {
  position: relative;
}

.text-media-carousel__image-alignment-top img {
  object-position: top;
}

.text-media-carousel__image-alignment-center img {
  object-position: center;
}

.text-media-carousel__image-alignment-bottom img {
  object-position: bottom
}

.text-media-carousel__media-label {
  position: absolute;
  left: 0;
  bottom: 10px;
  background: var(--carousel-background);
  color: white;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Text content */

.text-media-carousel__text .swiper-wrapper {
  padding-bottom: 45px;
}

.text-media-carousel__text .swiper-slide > * {
  margin-bottom: 30px;
}

.text-media-carousel__content-wrapper {
  background: var(--carousel-background);
  padding: 20px;
  color: var(--carousel-color);
  text-align: center;
}

.text-media-carousel__content-inner {
  border: 1px solid var(--carousel-color);
  padding: 75px;
}

.text-media-carousel__heading {
  margin-bottom: 30px;
}

.text-media__quote.handwriting {
  font-size: 32px;
  line-height: 120%;
}

@media screen and (max-width: 1024px) {
  .text-media-carousel__inner {
    grid-template-columns: minmax(0, 1fr) 60%;
  }
}
@media screen and (max-width: 768px) {
  .text-media-carousel__inner {
    display: block;
  }

  .text-media__heading {
    margin-bottom: 20px;
  }

  .text-media-carousel__content-inner {
    padding: 35px 20px;
  }

  .text-media-carousel__alignment--left {
    text-align: left;
  }

  .text-media-carousel__alignment--center {
    text-align: center;
  }

  .text-media-carousel__alignment--right {
    text-align: right;
  }

  .text-media__quote.handwriting {
    font-size: 22px;
    line-height: 120%;
  }

  .text-media-carousel__text .swiper-wrapper {
    padding-bottom: 55px;
  }

  .text-media-carousel__image {
    aspect-ratio: 1.25/1;
  }
}