.designer-spotlight-header {
  padding: 80px 0;
  background-color: #EEEFEF;
}

.designer-spotlight-header__container {
  max-width: 1080px;
  margin: 0 auto;
}

.designer-spotlight-header__image {
  height: 0;
  padding-bottom: 30%;
  position: relative;
  overflow: hidden;
}

.designer-spotlight-header__content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.designer-spotlight-header__title {
  margin: 0 0 20px;
}

.designer-spotlight-header__subtitle {
  margin: 0;
  font-family: brandon;
  font-size: 40px;
  font-weight: 400;
}

.designer-spotlight-header__divider {
  width: 140px;
  margin: 60px 0 40px;
  border-bottom: 2px solid #CAD2D3;
}

.designer-spotlight-header__text {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .designer-spotlight-header__image {
    padding-bottom: 70%;
  }

  .designer-spotlight-header__content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}