.meet-founder {
  padding: 20px;
  background: var(--blue);
  color: white;
}

.meet-founder__background {
  border: 1px solid white;
}

.meet-founder__inner {
  padding: 70px 80px;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.meet-founder__layout-left{
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-areas: 'text media';
  column-gap: 80px;
}

.meet-founder__layout-right {
  display: grid;
  grid-template-columns: 1fr 475px;
  grid-template-areas: 'media text';
  column-gap: 80px;
}

.meet-founder__layout-left .meet-founder__content-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.meet-founder__image-wrapper {
  grid-area: media;
}

.meet-founder__content-wrapper {
/*   padding: 100px 0; */
}

.meet-founder__layout-right .meet-founder__content-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.meet-founder__layout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.meet-founder__layout-center .meet-founder__content-wrapper {
  max-width: 820px;
  margin: 30px auto;
}

.meet-founder__heading {
  margin: 30px 0;
}

.meet-founder__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meet-founder__image-wrapper img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.meet-founder__icon-wrapper {
  text-align: center;
}

.meet-founder__icon-label {
  padding: 0 20px;
}

.Hide_Desktop {
  display: none;  
}

@media screen and (max-width: 1024px) {
  .meet-founder__inner {
    grid-template-columns: 40% minmax(0, 1fr);
    grid-template-columns: 50% auto;
    column-gap: 40px;
    padding: 46px 20px;
  }
}

 @media screen and (max-width: 768px) {

  .meet-founder__inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .meet-founder__layout-left .meet-founder__content-wrapper,
  .meet-founder__layout-right .meet-founder__content-wrapper {
    align-items: center;
  }

  .meet-founder__image-wrapper {
    padding-top: 10px;
  }

  .meet-founder__content-wrapper {
    padding: 20px 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .meet-founder .signature-svg {
    width: 100px;
    height: auto;
    margin: auto;
  }

  .meet-founder .signature-svg svg {
    width: 100%;
    height: auto;
  }

  .meet-founder__heading {
    padding: 0 20px;
  }

  .Hide_Mobile {
    display: none;  
  }

  .Hide_Desktop {
    display: block;  
  }
   
 }
@media screen and (max-width: 430px) {
.meet-founder__heading{
  max-width: 300px;
}
  
}

/* Featured Designer overrides */
.featured-designer__content-wrapper h2 {
  margin: 0 0 20px;
}

.featured-designer__content-wrapper .body {
  margin: 0 0 20px;
}