#faqs {
  background-color: #F5F5F5;
  padding: 100px 0;
}

#faqs .faq-col-inner {
  padding: 30px 0;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #546B82;
}

.faq-col {
  -webkit-break-inside: avoid;
  -moz-break-inside: avoid;
  -o-break-inside: avoid;
  -ms-break-inside: avoid;
  break-inside: avoid;
}

#faqs p {
  color: var(--blue);
}

.Faq_Icon svg path {
  fill: var(--blue);
}

.Faq_Question {
  font-weight: 500;
}

.Faq_Answer {
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  padding: 10px 0 0;
  display: none;
}

#faqs h2 {
  margin: 0 auto 18px;
  padding: 0 20px;
  color: var(--blue);
}

#faqs p.faq-title {
  margin-bottom: 0px;
  padding-right: 30px;
  line-height: 1.15;
}
#faqs .faq-items {
  display: block;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-gap: 22px;
  padding: 0 20px;
}

.Faq_Answer.active {
  height: 100%;
  opacity: 1;
}

.faq-col.is-open .Faq_Answer {
  max-height: 100%;
  display: block;
}

.is-open svg.icon.icon-plus {
  display: none;
}

svg.icon.icon-minus {
  display: none;
}

.is-open svg.icon.icon-plus {
  display: none;
}

.Faq_Icon {
  position: absolute;
  right: 0;
  top: 41px;
  transform: translateY(-50%);
  color: var(--blue);
}

.Faq_Icon svg {
  width: 16px;
  height: 16px;
}

.faq-col:last-child .faq-col-inner {
  border-bottom: 1px solid #546B82;
}

.is-open svg.icon.icon-minus {
  display: block;
}

@media screen and (max-width: 768px) {
  
  #faqs .faq-items {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-gap: 0;
    padding: 0;
  }

  #faqs h2 {
    padding: 0;
  }
  
  .Faq_Answer {
    padding: 20px 0 0;
  }

  #faqs {
    background-color: #f5f5f5;
    padding: 32px 0 50px;
  }
  
}