.swiper-pagination {
  position: relative;
  margin-top: 16px;
}

.slider-directional {
  display: flex;
  justify-content: center;
}

.slider-directional .swiper-button-next,
.slider-directional .swiper-button-next {
  position: relative;
}