.fan-motif {
  padding: 20px;
}

.fan-motif__background {
  background: var(--beige-secondary);
}

.fan-motif__inner {
  padding: 50px 0;
  max-width: 1000px;
  margin: auto;
}

.fan-motif__layout-left{
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-areas: 'text media';
  column-gap: 120px;
}

.fan-motif__layout-right {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-areas: 'text media';
  column-gap: 120px;
}

.fan-motif__layout-left .fan-motif__content-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fan-mofit__image-wrapper {
  grid-area: media;
}

.fan-motif__layout-right .fan-motif__content-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fan-motif__layout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fan-motif__layout-center .fan-motif__content-wrapper {
  max-width: 820px;
  margin: 30px auto;
}

.fan-motif__content-wrapper {
  padding: 50px 0;
}

.fan-motif__motif img {
  display: inline-block;
}

.fan-motif__heading {
  margin: 30px 0;
}

.fan-motif__text-link {
  margin-top: 30px;
}

.fan-motif__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fan-motif__image-wrapper img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.fan-motif__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
  column-gap: 30px;
}

.fan-motif__icon-wrapper {
  text-align: center;
}
 .fan-motif__icon-label {
  padding: 0 20px;
 }

 @media screen and (max-width: 768px){
  .fan-motif__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    padding: 35px 20px;
  }

  .fan-motif__inner .fan-motif__content-wrapper {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .fan-motif__text {
    margin-bottom: 20px;
  }

  .fan-motif__image-wrapper {
    padding: 0 33px;
  }

  .fan-motif__blocks {
    flex-direction: column;
  }
 }