.featured-articles__inner {

}

.featured-articles__heading {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 24px;
  text-align: center;
  width: calc(100% + 40px);
  margin: 0 -20px 50px;
}

.featured-articles__article-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 20px;
}