.swiper-pagination {
  position: relative;
  margin-top: 16px;
  width: unset;
  flex-wrap: unset;
  padding: 3px 24px;
}

.slider-directional {
  display: flex;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
  align-items: center;
}

.slider-directional .swiper-button-next,
.slider-directional .swiper-button-prev {
  position: relative;
}

.list__container {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.list__container-item {
  display: flex;
  gap: 16px;
}

.blue-background .styling-tips__heading {
  padding-right: 0;
}

.blue-background .styling-tips__layout-left {
  column-gap: 40px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.list__container-item .list-number {
  align-self: center;
  font-family: louize;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #D2B066;
}

.list__container-item .title-text {
  font-family: brandon;
  font-size: 20px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #D2B066;
  margin-bottom: 6px;
}

.list__container-item .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.blue-background .swiper-pagination-bullet {
  border-radius: 25px;
  transform: unset !important;
  border: 1px solid white;
  width: 12px;
  height: 12px;
} 


.blue-background .swiper-pagination-bullet-active::after {
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 25px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}

.blue-background .swiper-button-prev {
  background-image: url("https://cdn.shopify.com/s/files/1/0084/8602/7327/files/arrow_left.svg?v=1726518538") !important;
  background-repeat: no-repeat;
  width: 29px;
  height: 15px;
  margin-top: 0;
}

.blue-background .swiper-button-next {
  background-image: url("https://cdn.shopify.com/s/files/1/0084/8602/7327/files/arrow_right.svg?v=1726518528") !important;
  background-repeat: no-repeat;
  width: 29px;
  height: 15px;
  margin-top: 0;
}

.blue-background .styling-tips__heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.blue-background .styling-tips__heading.hide-desktop {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 0;
  max-width: max-content;
  margin: 24px auto 16px;
}

@media screen and (max-width: 768px) {
  .blue-background .styling-tips__inner {
    padding: 16px;
  }

  .blue-background .list__container {
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 24px;
  }
}
