.designer-spotlight-header {
  padding: 60px 0;
  background-color: #EEEFEF;
}

.designer-spotlight-header__container {
  max-width: 1080px;
  margin: 0 auto;
}

.designer-spotlight-header__image {
  height: 0;
  padding-bottom: 30%;
  position: relative;
  overflow: hidden;
}

.designer-spotlight-header__content {
  margin-top: 60px;
}

.designer-spotlight-header__title {
  margin: 0 0 20px;
  font-size: 64px;
}

.designer-spotlight-header__divider {
  width: 140px;
  margin: 40px 0;
  border-bottom: 2px solid #CAD2D3;
}

.designer-spotlight-header__text {
  margin: 0;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .designer-spotlight-header {
    padding: 20px 0 40px;
  }

  .designer-spotlight-header__image {
    padding-bottom: 70%;
  }

  .designer-spotlight-header__content {
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .designer-spotlight-header__title {
    font-size: 48px;
  }

  .designer-spotlight-header__text {
    font-size: 22px;
  }

  .designer-spotlight-header__divider {
    margin: 20px 0;
  }
}