.designer-spotlight {
  padding: 80px 0;
  background-color: #546B82;
}

.designer-spotlight__container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.designer-spotlight__item {
  display: flex;
  align-items: center;
  gap: 60px;
  color: white;
}

.designer-spotlight__item.even {
  flex-direction: row-reverse;
}

.designer-spotlight__content {
  width: 50%;
}

.designer-spotlight__image-container {
  width: 50%;
}

.designer-spotlight__title {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: louize;
  text-transform: unset;
}

.designer-spotlight__image {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.designer-spotlight__subtitle {
  margin: 0 0 80px;
}

.designer-spotlight__text-header {
  margin: 0 0 10px;
  font-family: louise;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: unset;
}

.designer-spotlight__text {
  margin: 0 0 35px;
  font-size: 16px;
  font-style: italic;
}

.designer-spotlight__divider {
  width: 100%;
  border-bottom: 2px solid #4E6377;
}

.designer-spotlight__button {
  display: inline-block;
}

@media screen and (max-width: 768px) { 
  .designer-spotlight__item {
    flex-direction: column;
    gap: 20px;
  }

  .designer-spotlight__content {
    width: 100%;
  }

  .designer-spotlight__image-container {
    width: 100%;
  }
  
  .designer-spotlight__image {
    width: 100%;
    padding-bottom: 100%;
  }

  .designer-spotlight__title {
    margin: 0 0 15px;
    font-size: 24px;
  }

  .designer-spotlight__subtitle {
    margin-bottom: 60px;
  }

  .designer-spotlight__text-header {
    font-size: 24px;
  }
}