.product-carousel__inner {
  padding-bottom: 100px !important;
}

.product-carousel__heading {
  margin-bottom: 30px;
  text-align: center;
}
.product-carousel__container {
  position: relative;
}

.product-carousel__container .swiper-wrapper {
 padding-bottom: 0;
 padding-top: 65px;
}

.product-carousel__pagination.swiper-pagination {
 top: 0;
 bottom: unset;
}

.product-carousel__new {
  padding-bottom: 60px !important;
}
/* 
#shopify-section-template--16240883793983__product_carousel_new_aKw9LG .product-carousel__new {
  padding-bottom: 40px !important;
}
 */
.product-carousel__new .product-carousel__container .swiper-wrapper {
  padding-top: 0;
  padding-bottom: 50px;
}

.product-carousel__container-new {
  margin-left: 60px;
  margin-right: 60px;
  width: calc(100% - 120px) !important;
}

.product-carousel__new .product-carousel__pagination.swiper-pagination {
 display: none;
}

.product-carousel__item {
 width: 295px;
 height: auto;
}

.product-carousel .swiper-button-next:after,
.product-carousel .swiper-button-prev:after {
  fill: var(--gold);
}

.shop-all-btn {
  background: #725413;
  color: #FFF;
  border: 0px;
  padding: 8.8px 16px 8px;
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .product-carousel__new .product-carousel__pagination.swiper-pagination {
   top: unset;
   bottom: 35px;
   display: flex;
  }
  
  .product-carousel__container .swiper-wrapper {
    padding-top: 50px;
    padding-left: 20px;
   }

  .product-carousel__inner {
    padding-bottom: 20px !important;
  }

  .product-carousel__heading {
    margin-bottom: 20px;
  }

  .product-carousel .swiper-button-next,
  .product-carousel .swiper-button-prev {
    top: 125px;
  }

  .product-carousel .swiper-button-next {
    right: 20px;
  }
  .product-carousel .swiper-button-prev {
    left: 18px;
  }

  .product-carousel__container-new {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px) !important;
  }

  .product-carousel__new .product-carousel__container .swiper-wrapper {
    padding-top: 0;
    padding-bottom: 100px;
  }
}