.designer-spotlight {
  padding: 80px 0;
  background-color: #546B82;
}

.designer-spotlight__container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.designer-spotlight__item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.designer-spotlight__item.even {
  flex-direction: row-reverse;
}

.designer-spotlight__image {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}