.shop-by-size__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.shop-by-size__header .shop-by-size__title {
  font-family: louize;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--blue-secondary);
}

.shop-by-size__header .shop-by-size__link-link {
  font-family: brandon;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 24px;
}

.shop-by-size__section {
  display: block;
}

.shop-by-size__section .shop-by-size__navigation {
  margin-bottom: 40px;
  overflow-x: auto;
}

.shop-by-size__section .shop-by-size__navigation::-webkit-scrollbar{
  display: none;
}

.shop-by-size__section .shop-by-size__navigation ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: relative;
  width: fit-content;
  justify-content: start;
  gap: 8px;
}

.shop-by-size__section .shop-by-size__navigation ul li{
  list-style-type: none;
  display: inline-block;
}

.shop-by-size__section .shop-by-size__navigation ul li a {
  display: block;
  text-transform: uppercase;
  position: relative;
  transition: all .3s ease;
  color: var(--blue);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
  padding: 12px;
  background-color: rgba(84, 107, 130, 0.16);
}

.shop-by-size__section .shop-by-size__navigation ul li a.shop-by-size__tab--active {
  background-color: var(--blue);
  color: var(--white);
}

.shop-by-size__section .swiper-pagination {
  display: none;
}

.shop-by-size__section .swiper-button-next:after,
.shop-by-size__section .swiper-button-prev:after {
  display: none;
}

.shop-by-size__section .product-card__price .old-price {
  margin-right: 5px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  opacity: .3;
}

.shop-by-size .shop-by-size__product-card {
  background: transparent;
}

.shop-by-size .shop-by-size__product-card .product-card__image{
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
}
.shop-by-size .shop-by-size__product-card .aspect-ratio{
  transition: opacity .4s ease-in-out;
}
.shop-by-size .shop-by-size__product-card .product-card__swatches{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 4px;
}

.shop-by-size .shop-by-size__product-card .product-card *{
  width: 100%;
}

.shop-by-size .shop-by-size__product-card .product-card__swatches button {
  width: auto;
  color: var(--blue);
  font-family: brandon;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
}

.shop-by-size .shop-by-size__product-card .product-card__swatches .product-card__swatch{
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease;
  position: relative;
}

.shop-by-size .shop-by-size__product-card .product-card__title {
  display: flex;
  flex-direction: column;
  color: var(--blue);
  text-align: center;
  text-transform: uppercase;
  font-family: brandon;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.shop-by-size .shop-by-size__product-card .product-card__title span {
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: .3px;
  text-transform: none;
}

.shop-by-size .shop-by-size__product-card .text-link {
  display: none;
}

.shop-by-size .shop-by-size__product-card .product-card__price{
  color: var(--blue-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.shop-by-size .shop-by-size__product-card .product-content .product-card__title {
  color:var(--blue);
}

.shop-by-size__products{
  position: relative;
}

.shop-by-size__products{
  display: none;
}

.shop-by-size__products h2 {
  color: rgba(0,0,0,.7);
}

.shop-by-size__products p {
  color: rgba(0,0,0,0.6);
  text-align: justify;
}

.shop-by-size__products--active{
  display: block;
}

.swiper{
  width: 100%;
  height: 100%;
}

.shop-by-size .shop-by-size__product-card .product-card__title{
  text-align: left;
}

.shop-by-size .shop-by-size__product-card .product-card__swatches{
  justify-content: flex-start;
}

.shop-by-size .shop-by-size__product-card .product-card .product-card__image-label {
  display: none;
}

.shop-by-size .shop-by-size__product-card .product-card .product-card__image-label.visible-on-image {
  font-family: brandon;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--blue);
  display: inline;
  padding: 6px;
  width: max-content;
  bottom: 0;
}

.shop-by-size .shop-by-size__product-card .product-card__image{
  margin-bottom: 16px;
}

.shop-by-size__item {
  width: 295px;
  height: auto;
 }

@media screen and (min-width: 991px) {
  .shop-by-size__swiper {
    margin: 0 48px;
    overflow: hidden;
  }

  .shop-by-size .shop-by-size__section {
    overflow: hidden;
  }

  .shop-by-size .swiper-button-next, .shop-by-size .swiper-button-prev {
    z-index: 5;
    padding: 6px 9px;
  }

  .shop-by-size .swiper-button-prev {
    transform: rotate(180deg);
    left: 0;
  }

  .shop-by-size .swiper-button-next {
    right: 0;
  }
}

@media screen and (max-width: 990px){
  .shop-by-size .shop-by-size__header {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 14px;
  }

  .shop-by-size__header .shop-by-size__title {
    font-size: 40px;
  }

  .shop-by-size__header .shop-by-size__link {
    width: 100%;
  }

  .shop-by-size__header .shop-by-size__link-link {
    width: 100%;
    display: block;
  }

  .shop-by-size__section .shop-by-size__navigation {
    margin-bottom: 24px;
  }

  .shop-by-size__section .shop-by-size__navigation ul li a {
    padding: 12px;
    white-space: nowrap;
  }

  .shop-by-size .shop-by-size__section .shop-by-size__products{
    overflow: visible;
  }

  .shop-by-size__section .shop-by-size__product-card .product-card__title{
    font-size: 20px;
  }
  
  .shop-by-size__section .product-card .product-card__swatches{
    display: none;
  }

  .shop-by-size__section .swiper-wrapper {
    padding-bottom: 26px;
  }

  .shop-by-size__section .swiper-pagination {
    display: flex;
    bottom: 0;
    z-index: 99;
    column-gap: 4px;
  }

  .shop-by-size__section .swiper-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    background-color: rgba(84, 107, 130, 0.16);
    max-width: unset;
    max-height: unset;
    border: none;
    transform: none;
    margin: 0;
  }

  .shop-by-size__section .swiper-pagination  .swiper-pagination-bullet-active:after {
    display: none;
  }

  .shop-by-size__section .swiper-pagination  .swiper-pagination-bullet-active {
    background-color: var(--blue);
  }

  .shop-by-size .swiper-button-next, .shop-by-size .swiper-button-prev {
    display: none;
  }
}

