.sl-brandstyle-796f584d-d898-4085-954b-d2adb86b3283 .sl-font-style--title {
font-family: louize;
font-weight: 500;
font-style: normal;
}
.sl-brandstyle-796f584d-d898-4085-954b-d2adb86b3283 .sl-font-style--body {
font-family: brandon;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-796f584d-d898-4085-954b-d2adb86b3283 .sl-font-style--button {
font-family: brandon;
font-weight: 600;
font-style: normal;
text-transform: uppercase;
}
.sl-brandstyle-796f584d-d898-4085-954b-d2adb86b3283 .sl-font-style--label {
font-family: brandon;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-f33dbf3f-f547-428b-b248-48c1657bb410 {
background-color: #f4f2ee;
border-style: none;
--sl-gv-bg-color: #f4f2ee;
--sl-gv-btn-txt-color: #546b82;
--sl-gv-btn-bg-color: #f4f2ee;
}
.sl-pattern-f33dbf3f-f547-428b-b248-48c1657bb410 .sl-font-style--title { color: #546b82; }
.sl-pattern-f33dbf3f-f547-428b-b248-48c1657bb410 .sl-font-style--body { color: #546b82; }
.sl-pattern-f33dbf3f-f547-428b-b248-48c1657bb410 .sl-font-style--button { color: #546b82; }
.sl-pattern-f33dbf3f-f547-428b-b248-48c1657bb410 .sl-font-style--label { color: #546b82; }
.sl-pattern-f33dbf3f-f547-428b-b248-48c1657bb410 .sl-button--brand-style {
color: #546b82;
background-color: #f4f2ee;
}
.sl-pattern-c8442ede-404d-42f2-90f7-c776e998b665 {
background-color: #f4f2ee;
border-style: none;
--sl-gv-bg-color: #f4f2ee;
--sl-gv-btn-txt-color: #546b82;
--sl-gv-btn-bg-color: #f4f2ee;
}
.sl-pattern-c8442ede-404d-42f2-90f7-c776e998b665 .sl-font-style--title { color: #546b82; }
.sl-pattern-c8442ede-404d-42f2-90f7-c776e998b665 .sl-font-style--body { color: #546b82; }
.sl-pattern-c8442ede-404d-42f2-90f7-c776e998b665 .sl-font-style--button { color: #546b82; }
.sl-pattern-c8442ede-404d-42f2-90f7-c776e998b665 .sl-font-style--label { color: #546b82; }
.sl-pattern-c8442ede-404d-42f2-90f7-c776e998b665 .sl-button--brand-style {
color: #546b82;
background-color: #f4f2ee;
}
.sl-pattern-a58e872d-c0e8-475c-b02c-9ac5885ca064 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #546b82;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-a58e872d-c0e8-475c-b02c-9ac5885ca064 .sl-font-style--title { color: #546b82; }
.sl-pattern-a58e872d-c0e8-475c-b02c-9ac5885ca064 .sl-font-style--body { color: #546b82; }
.sl-pattern-a58e872d-c0e8-475c-b02c-9ac5885ca064 .sl-font-style--button { color: #546b82; }
.sl-pattern-a58e872d-c0e8-475c-b02c-9ac5885ca064 .sl-font-style--label { color: #546b82; }
.sl-pattern-a58e872d-c0e8-475c-b02c-9ac5885ca064 .sl-button--brand-style {
color: #546b82;
background-color: #ffffff;
}
.sl-pattern-d832700d-4705-4448-a332-bf48cb8ec022 {
background-color: #546b82;
border-style: none;
--sl-gv-bg-color: #546b82;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #546b82;
}
.sl-pattern-d832700d-4705-4448-a332-bf48cb8ec022 .sl-font-style--title { color: #ffffff; }
.sl-pattern-d832700d-4705-4448-a332-bf48cb8ec022 .sl-font-style--body { color: #ffffff; }
.sl-pattern-d832700d-4705-4448-a332-bf48cb8ec022 .sl-font-style--button { color: #ffffff; }
.sl-pattern-d832700d-4705-4448-a332-bf48cb8ec022 .sl-font-style--label { color: #ffffff; }
.sl-pattern-d832700d-4705-4448-a332-bf48cb8ec022 .sl-button--brand-style {
color: #ffffff;
background-color: #546b82;
}
.sl-pattern-57f6f797-8dc2-4f83-85ec-3520f1aab9f4 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #546b82;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-57f6f797-8dc2-4f83-85ec-3520f1aab9f4 .sl-font-style--title { color: #546b82; }
.sl-pattern-57f6f797-8dc2-4f83-85ec-3520f1aab9f4 .sl-font-style--body { color: #546b82; }
.sl-pattern-57f6f797-8dc2-4f83-85ec-3520f1aab9f4 .sl-font-style--button { color: #546b82; }
.sl-pattern-57f6f797-8dc2-4f83-85ec-3520f1aab9f4 .sl-font-style--label { color: #546b82; }
.sl-pattern-57f6f797-8dc2-4f83-85ec-3520f1aab9f4 .sl-button--brand-style {
color: #546b82;
background-color: #ffffff;
}
.sl-pattern-1059c2cc-7aa1-4cb9-9224-1d0295545677 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #546b82;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-1059c2cc-7aa1-4cb9-9224-1d0295545677 .sl-font-style--title { color: #30383d; }
.sl-pattern-1059c2cc-7aa1-4cb9-9224-1d0295545677 .sl-font-style--body { color: #546b82; }
.sl-pattern-1059c2cc-7aa1-4cb9-9224-1d0295545677 .sl-font-style--button { color: #546b82; }
.sl-pattern-1059c2cc-7aa1-4cb9-9224-1d0295545677 .sl-font-style--label { color: #546b82; }
.sl-pattern-1059c2cc-7aa1-4cb9-9224-1d0295545677 .sl-button--brand-style {
color: #546b82;
background-color: #ffffff;
}
.sl-pattern-b35334c0-9449-42b8-a61d-5d3858441fb4 {
background-color: #eeefef;
border-style: none;
--sl-gv-bg-color: #eeefef;
--sl-gv-btn-txt-color: #546b82;
--sl-gv-btn-bg-color: #eeefef;
}
.sl-pattern-b35334c0-9449-42b8-a61d-5d3858441fb4 .sl-font-style--title { color: #30383d; }
.sl-pattern-b35334c0-9449-42b8-a61d-5d3858441fb4 .sl-font-style--body { color: #546b82; }
.sl-pattern-b35334c0-9449-42b8-a61d-5d3858441fb4 .sl-font-style--button { color: #546b82; }
.sl-pattern-b35334c0-9449-42b8-a61d-5d3858441fb4 .sl-font-style--label { color: #546b82; }
.sl-pattern-b35334c0-9449-42b8-a61d-5d3858441fb4 .sl-button--brand-style {
color: #546b82;
background-color: #eeefef;
}
