.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20px;
  row-gap: 60px;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 24px;
    column-gap: 12px;
  }
}

.collection-grid__inner {
  display: grid;
  grid-template-columns: minmax(0, 276px) minmax(0, 1fr);
  column-gap: 40.5px;
  grid-template-areas: 'filters grid';
  position: relative;
}

.collection-grid__inner .loading-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff70;
  width: 100%;
  height: 100%;
  top: 0px;
}

.collection-grid__inner .loading-overlay .loading-overlay__spinner {
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-grid__inner .loading-overlay .loading-overlay__spinner svg {
  width: 33px;
  height: 33px;
  aspect-ratio: 1/1;
}

.collection-grid__inner.loading .loading-overlay {
  display: block;
}

.shopify-section.with-spacing > div:first-of-type {
  padding-top: 50px;
}

.collection-grid-section.with-spacing > div:first-of-type {
  padding-bottom: 58px;
}

.collection-filter-clear-all {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .collection-grid-section.with-spacing > div:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
  }
  .collection-grid__inner {
    display: block;
  }

  #ProductGridContainer {
    margin: 50px 0 24px;
  }
}