.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 20px;
}

@media screen and (max-width: 1150px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}